--- 
layout: post.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "משחקי שליטה"
description: "החיים מחלקים לנו קלפים, ואין לנו שליטה עליהם. אלא רק על איך אנחנו משחקים איתם"
date: 2023-02-28
display_date: 28/2/23
tags: ['post']
mainImage: "/img/blog/puppet.jpg"
shareImage: "/img/blog/puppet.jpg"
---

<h2 class="rev-title-inner title-bg blue">זה אירוני, כי אין לנו באמת יותר מידי שליטה על שום דבר</h2>
<p>
    הרגשת השליטה היא אשליה.<br>
יש לנו שליטה אך רק על עצמנו ועל איך אנחנו מגיבים בתוך סיטואציות חסרות שליטה בחיים שלנו.<br>
ובתכלס - זה המון!
</p>

<p>
    זה פוסט המשך ל״מערכת יחסים הכי ארוכה שהיתה לי״ אבל השם ארוך גם ככה ולהוסיף לו את המילה ״המשך״ היה נראה לי כבר מוגזם, אז תזרמו איתי :) 
</p>

<p>
    אני רוצה לשתף אתכם ב-3 שיעורים שלמדתי על שליטה, עצמית בעיקר, ששינו לי את החיים, בתקווה שתתחברו ותקחו משהו מזה גם אליכם.
</p>


<div class="img-block">
    <img src="/img/blog/cards.jpg" alt="Cards">
</div>

<h3 class="rev-title-inner title-bg blue">השיעור הראשון שלמדתי הוא שהחיים מחלקים לנו קלפים, ואין לנו שליטה עליהם. אלא רק על איך אנחנו משחקים איתם.</h3>

<p>
    את השיעור הזה למדתי כשהחלטתי לצאת ממעגל הבולמוסים וההקאות.<br>
השליטה המדומיינת שיש בבולמיה לא מחזיקה לאורך זמן, הייתי צריכה להבין איך אני באמת יכולה לשלוט על החיים שלי בלי להזיק לעצמי כל כך.<br>
</p>

<p>
    אז לקחתי שליטה על התזונה שלי - התחלתי לאכול בריא. ממש להתייחס לגוף שלי כאל מקדש ולהזין אותו בדברים טובים, בריאים וטעימים.<br>
התחלתי לקחת שליטה על הגוף שלי - לעשות ספורט, להרגיש חזקה, עצמאית ובלתי מנוצחת.
</p>

<p>
    והפעם, בניגוד לשנים שהייתי אסירה בתוך מעגל של הפרעת האכילה, הבנתי זה חייב להיות מאוזן, כיף ובר התמדה! בקיצור.. אורח חיים בריא.
</p>

<p>
    בסופו של דבר, בצורה כזו או אחרת, לקחתי את ההפרעה הזו שלי, היכרתי בה, חיבקתי אותה ועשיתי לה אדפטציה. אותה אדפטציה, היא גם זו שבזכותה הקמתי את העסק שלי.<br>
כמו שכתבתי בפוסט הקודם, הפרעות אכילה לא נעלמות.
</p>

<p>
    אז במקום להיות כלואה בתוך הלופ ההרסני של הבולמיה, שברתי את הנרטיב והפכתי אותה למשהו בונה!
</p>


<h3 class="rev-title-inner title-bg blue">השיעור השני הוא שאני לא אחנך או אשנה אף אחד, אני יכולה לשלוט רק בצורה בה אני מגיבה בתוך סיטואציות מול אחרים.</h3>

<p>
    השיעור הזה ליטרלי שיפר פלאים ואפילו הציל את מערכת היחסים שלי עם אמא שלי.<br>
אני בת יחידה לאם חד הורית. אמא שלי היא האישה הכי וואו שאני מכירה!<br>
אבל דינמיקה עם כל כך הרבה אסטרוגן במעגל סגור מביאה איתה את הקשיים שלה.<br>
אני אפילו לא נכנסת לפער בסטייט אוף מיינד בנינו שמגיע עם העובדה שאמא שלי ילדה אותי בגיל 42 (!!)
</p>

<p>
    אחד מהדברים שהכי קשה להבין ויותר קשה ליישם הוא שאנחנו לא נשנה את ההורים שלנו. לעולם. <br>
לא משנה כמה נגיד את זה לעצמנו וננסה לשנן את זה כמו מנטרה, כל עוד לא נרגיש את זה, באמת נרגיש את זה, זה לא יעבוד.<br>
</p>

<p>
    זה לא שפתאום אני מסכימה עם הדפוסים או עם ההתנהלות שלה במקרים מסויימים, אבל עכשיו אני יודעת שיש לי את היכולת בחירה את השליטה על איך אני מגיבה לכל אלו, וזה מביא כל כך הרבה שלוות נפש ואורך רוח.
</p>

<p>
    את השיעור השלישי למדתי רק ביולי האחרון.<br>
מכירים את התקופות האלו שמרגיש שהכל קורס? שהאדמה נשמטת לנו מתחת לרגליים? שהדברים הכי יציבים בחיים מתערערים? אז כזה.
</p>

<div class="img-block">
    <img src="/img/blog/you-got-this.jpg" alt="you got this">
</div>

<h3 class="rev-title-inner title-bg blue">
    באותה נקודת זמן היתה לי הארה, שהחיים קורים, זורקים עלינו מלא שיט ואין לנו שליטה על זה. בחיים לא תהיה.
</h3>

<p>
    אנחנו חייבים חייבים חייבים להיות בטוב עם עצמנו, להאמין בדרך שלנו, להיות בזן שלנו כי זו הדרך היחידה שנוכל להתמודד עם הכאוס שקורה שם בחוץ.<br>
    אין שום דרך שנוכל לשלוט בעולם המשוגע הזה, ולהתמודד מול שיגעון בשיגעון כנראה לא יוביל למשהו שפוי.<br>
כל עוד נהיה שלמים עם עצמנו, בשקט פנימי. נדע ונרגיש שאנחנו חזקים ויציבים מספיק - נשרוד כל סערה.
</p>

<p>
קל להגיד - קשה ליישם, אבל לגמריי שווה לנסות!
</p>

<p>
    וואו ועוד לא התחלתי בכלל לדבר על השליטה, או יותר נכון על החוסר שליטה בהריון.<br>
בגדול אני עדיין לומדת איך להתמודד מול זה, אבל אני בטוחה שהשילוב של שלושת השיעורים ששיתפתי אתכם הם כלים נהדרים להתחיל איתם! 
</p>

<p>Stay tuned!</p>