--- 
layout: post.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "מערכת היחסים הכי ארוכה שהיתה לי"
description: "בניגוד למערכות יחסים משמעותיות אחרות, אני לא זוכרת את התאריך המדוייק שהיא התחילה. רק שזה היה אי שם בשנת 2008"
date: 2023-02-16
display_date: 16/2/23
tags: ['post']
mainImage: "/img/blog/my-longest-relationship.jpeg"
shareImage: "/img/blog/my-longest-relationship.jpeg"
---

<h2 class="rev-title-inner title-bg blue">הקשר הכי ארוך שהיה לי הוא עם הפרעת האכילה שלי</h2>

<p>הייתם מצפים שאגיד עם דורון, נכון? <br>במרץ הרי נחגוג 11 שנים יחד. אבל האמת שלא..</p>

<p>בניגוד למערכות יחסים משמעותיות אחרות, אני לא זוכרת את התאריך המדוייק שהיא התחילה. רק שזה היה אי שם בשנת 2008.<br>
אבל את היום שזה התחיל אני זוכרת כאילו זה היה אתמול. את ההתרגשות של ההתחלה, אני עדיין יכולה להרגיש כמעט במדויק.</p>

<p>
    וואלה, כשאני חושבת על זה, ב-2008 ה״רומן״ הזה רק התממש, קיבל צורה.
    <br>
    המערכת יחסית עם הפרעת האכילה התחילה תכלס כבר בכיתה ה׳. <br>
    חזרתי מבית הספר עם חברה והצהרנו שאנחנו בדיאטה ולא נאכל יותר מ-700 קלוריות באותו היום! 
גם את הרגע הזה אני זוכרת טוב מאוד.<br>
    זו היתה הפעם הראשונה שחוסר הביטחון הפנימי התחיל לקבל תוקף במעשים בעולם החיצוני.
</p>

<p>
    אני לא יודעת להגיד למה ואיך כבר בכיתה ה׳ היתה לי את המודעות הזו לגוף ולנראות, או את הלקסיקון הזה של דיאטה וקלוריות.<br>
    אמא שלי לא היתה מהנשים שלא אהבו את הגוף שלהן, כך שזה לא חילחל אלי ממנה, ההפך! <br>
מאז שאני זוכרת אותה היא אישה מלאת ביטחון, מרשימה, חזקה, עצמאית, ליידיבוסית חושילינג של שנות ה-90.<br>
אז לא, זה לא הגיע מהבית.
</p>

<div class="img-block">
    <img src="/img/blog/hadas-with-miri.jpg" alt="Hadas with mom and Amos">
    {# <div class="image-credit">בתמונה: אני, אמא שלי ועמוס השכן</div> #}
</div>

<h3 class="rev-title-inner title-bg blue">לא משנה, זה הגיע.</h3>

<p>
ומאותו רגע, זה התחיל לעצב אותי.
</p>

<p>שנים של שנאה עצמית, חוסר ביטחון, צורך באישורים מהסביבה, ההרגשה שאני לא מספיק..</p>

<p>
כל אלו יצרו אצלי מציאות של חוסר שליטה. הערכת החסר של ה"עצמי" הציבו סטנדרטים ממש *ממש* נמוכים, אם בכלל, לאנשים שאני מכניסה לחיים שלי, ללב שלי, לתחתונים שלי.<br>
רק כי רציתי חברה, אישור, יחס.. וא.נשים ניצלו את זה.<br>
הרי כמה זה קל לצבור ביטחון ע״י רמיסה של האחר? ואני הייתי מטרה כל כך קלה.
</p>

<p>
    בסופו של דבר, כל הספין של חוסר השליטה הגיע גם לאוכל. <br>
    בולמוסים בלתי נשלטים, בהם יכלתי לפרק מקרר שלם רק בשביל לנסות לסתום את החור ענק שהיה לי בלב.
</p>

<p>
    ואז.. בגיל 20, הצלחתי להקיא. <br>
    אומייגוד! הרגשת השליטה!! הנה היא! <br>
    נשבעת שבחיים לא הרגשתי כל כך חזקה, בשליטה, מלכת העולם - לא פחות. <br>
    הנה, אני סופסוף שולטת במשהו! במה שאני מכניסה ומוציאה מהגוף שלי. <br>
    זו באמת הרגשה ממכרת. השליטה הזו. 
</p>

<p>
    בהתחלה חשבתי שמדובר רק בעניין של נראות ולרדת במשקל.<br>
    אבל הירידה במשקל נעצרת באיזשהו שלב. <br>
    הגוף נכנס למצב של סטרס. לא משנה כמה תקיאי - הגוף ילמד לקחת את מה שהוא יכול, הכי מהר שאפשר ולאגור אותו לפני שתספיקי להוציא את זה החוצה.
</p>

<h3 class="rev-title-inner title-bg blue">לקח לי כמה שנים להבין שהרגשת השליטה היא זו שאני מחפשת</h3>

<p>הצורך, הבאמת קיומי, להיות אסרטיבית בחיים של עצמי. להוביל ולא להיות מובלת.</p>

<p>רק אז התחלתי את התהליך האמיתי של השינוי (עם עזרה של טיפול פסיכולוגי כמובן והמון כח רצון)
מלהיות הסמרטוט רצפה שמנגבים איתו את המיץ של הזבל, לליידיבוסית חושילינג של המאה ה-21 (את זה דווקא כן לגמריי קיבלתי מאמא).
</p>

<p>הפוסט הזה יוצא יותר ארוך ממה שתכננתי.. (כיאה לפוסט שמדבר על מערכת יחסים ארוכה)
אז נראה לי שאכתוב אותו בחלקים.</p>

<p>
    אסיים לעכשיו ואגיד שהפרעות אכילה לא נעלמות.<br>
הקול הזה בראש לא משתתק לגמריי. הוא תמיד מלווה אותי, אבל היום מקבל התייחסות שונה לחלוטין.<br>
היום אני כבר לא מקיאה, אין ספק שהבולמיה לימדה אותי על הצורך שלי בשליטה, וזה מה שבחרתי לקחת ממנה.
</p>

<p>
    איך זה בא לידי ביטוי בחיים שלי, בעסק שלי ואפילו בהריון שלי, אני כבר אספר בפוסט הבא. :) 
</p>

<h3 class="rev-title-inner title-bg blue">ועוד דבר אחרון</h3>

<p>
    אם את או אתה קוראים את זה ומזדהים, נמצאים באיזשהו מקום חשוך ומרגישים חסרי שליטה,
אתן.ם לא לבד! <br>
אם תרצו לפנות אלי ולדבר איתי, אני יותר מאשמח! ואתן.ם יותר ממוזמנות.ים 💜
</p>