--- 
layout: post.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "דימוי גוף בהריון - נעים להכיר"
description: "הגוף שלנו משתנה. ואין לנו שליטה על זה. הבטן גדלה, ולצד ההרגשה המדהימה והידיעה שבתוך הבטן הזו נמצא וגדל הדבר הכי מדהים שיהיה בחיים שלנו"
date: 2023-02-07
display_date: 7/2/23
tags: ['post']
mainImage: "/img/blog/body-image-pregnancy.jpg"
shareImage: "/img/blog/body-image-pregnancy.jpg"
---

<h2 class="rev-title-inner title-bg blue">אתחיל בזה שזה נושא לגיטימי להרגיש בו מבולבלת וחסרת ביטחון</h2>
<p>זה לרגע לא משנה או ממעיט מהפלא שאנחנו חוות ומהקסם של לייצר חיים.</p>

<p>לצערי, הרגשתי שכל החוסר ביטחון והרגשות המורכבים שמגיעים יחד עם השינוי הפיזי לא מקבלים התייחסות.. אישית, זה גרם לי להרגיש שאני לבד עם התחושות האלו.</p>
<p>אחרי שהצפתי את מה שאני חווה באינסטגרם, כמות ההודעות שקיבלתי מבנות ששותפות איתי לתחושה ושמבינות אותי היא באמת אדירה! ותודה על זה ❤️</p>

<p>אז כן. הריון הוא דבר מופלא, מבורך ומדהים! הוא מראה כמה אנחנו הנשים חזקות, פיזית ונפשית. הוא מרחיב לנו את הלב ומלמד אותנו שבאמת אין עלינו בעולם הזה!!</p>

<p>אבל. כמו כל דבר בחיים.. אין ״טוב״ בלי ״רע״, וכשאני אומרת ״רע״ אני מתכוונת למורכב.</p>
<p>אותי זה מפגיש עם כל השדים שכבר הייתי בטוחה שאני בטוב איתם, שחשבתי שהצלחנו להגיע לאישזהו סטטוס קוו. והנה הם מתעוררים להם ומחכים לי בכל מיני פינות בדרך.</p>

<section class="content-section hero split align-right text-start">
    <img src="/img/blog/post-body.png" class="section-image" alt="Some image"/>
    <div class="content-block text-start">
        <h2 class="rev-title-inner title-bg blue">הגוף שלנו משתנה. ואין לנו שליטה על זה</h2>
        <p>הבטן גדלה, ולצד ההרגשה המדהימה והידיעה שבתוך הבטן הזו נמצא וגדל הדבר הכי מדהים שיהיה בחיים שלי ושל דורון. יחד עם הליטופים העדינים שאני מוצאת את עצמי מלטפת את הבטן במהלך היום ולפני שאני נרדמת.. בתקווה שהוא ירגיש אותי וכמה שאני מתרגשת להכיר אותו!</p>
        <p>פתאום..</p>
        <p>אני מנסה למצוא משהו ללבוש ולא מצליחה. וזה לא ״הלא מצליחה״ של פעם.. שאחרי 10 דק׳ אני לבושה פגז ומוכנה לקרוע את העיר.</p>
      
    </div>
</section>


<h3 class="rev-title-inner title-bg blue">אין. מה. ללבוש.</h3>

<p>כל הדברים שפעם נראו עלי טוב ועזרו לי להרגיש ביטחון גם ביום רע - ממש לא רלוונטים. לא יעלו עלי גם לא תמורת שלום.</p>

<p>הפנים יותר נפוחות, הזרועות גדלו..</p>
<p>ושתבינו, כל מנעד הרגשות הזה קורה בו״ז או בהפרש של כמה שניות בודדות!</p>

<p>והכל צף.. השנאה העצמית שהרגשתי עוד מהילדות ובעיקר בתחילת שנות ה-20 לחיי, את התקופה שהתחלתי להתמודד עם הפרעת האכילה, את ההרגשה של לא להרגיש בנוח בגוף שלי.</p>

<p>בהריון הגוף משתנה כל שבוע באופן קיצוני, פאק איט.. הוא משתנה בטירוף בערב לעומת הבוקר! עוד לא הספקתי להתרגל אליו ובום! אחרי כמה שעות הוא כבר משהו שונה לחלוטין!
וואלה קשה להתרגל ולהרגיש בנוח במשהו שכל הזמן משתנה בקצב מסחרר.</p>

<p>ואז מגיעה בדיקה, שקיפות עורפית או סקירה כלשהי.. והכל טוב! הכל תקין! (טפו חמסה שום בצל).
<p>ופתאום..</p>
<p>וואוו!!! כמה שאני אוהבת את הגוף שלי! כמה אני מעריכה אותו! איזה חזק הוא כמה מופלא! איך הוא מחזיק בגבורה ובגאון את ההריון הזה ואיך הוא שומר עלי ועל הפלא שגדל לי בבטן! ואני כל כך גאה בגוף הזה שלי!</p>

<p>ואז אני מצלמת אימון. ולא מצליחה למצוא זווית שאני אוהבת את מה שאני רואה. הכל נראה גדול יותר, נפוח, רחב יותר ולא מחמיא.. ממש לא מה שהתרגלתי אליו, לא מה שעבדתי עליו (עבודה פנימית לא פחות מאשר עבודה פיזית) כל כך הרבה שנים.</p>
<p>ופתאום.. הכל שוב צף.</p>

<p>מבולבלים? גם אנחנו! (ואני עוד מזל תאומים.. אז בכלל..)</p>

<p>והפואנטה.. היא שאין פואנטה.</p>
<p>הכל לגיטימי, לכל רגש יש מקום, כל אחת זה פוגש או נוגע בנקודה רגישה שונה.</p>
<p>יש מקום לאושר ולשמחה, כמו שיש מקום לתסכול.</p>
<p>אני עכשיו מתחילה לחקור ולהכיר את כל ה-50 (אלף) גוונים של אפור בסיפור הזה, אתן מוזמנות למסע הזה איתי.</p>
<p>ולזכור שאחנו לא לבד ❤️</p>
