<div class="container fluid cta cta-footer">
    <section class="content-section hero center">
        <h2>הגיע הזמן לקפוץ למים!</h2>
        <p>אשמח לתאם איתך שיחה של רבע שעה, בה נוכל להכיר קצת יותר ולקבוע אימון ניסון ללא התחייבות 😊</p>

        <div class="btn btn-main large open-calendly">
            <button>לתיאום שיחה</button>
        </div>
    </section>
</div>