<div class="container fluid cta cta-footer">
    <section class="content-section hero center">
        <h2>הגיע הזמן לקפוץ למים!</h2>
        <p>אשמח לתאם איתך רבע שעה שיחה, בה נוכל להכיר קצת יותר ולקבוע לך אימון ניסון ללא התחייבות</p>

        <div class="btn btn-main large open-overlay">
            <button onclick="Calendly.showPopupWidget('https://calendly.com/worth-it-studio/15min?hide_landing_page_details=1&background_color=ffffff&text_color=413C58&primary_color=4dbedd');return false;">לתיאום שיחה איתי</button>
        </div>
    </section>
</div>

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<!-- Calendly badge widget end -->
