{% set currentUrl = page.url %}
{% set homeUrl = "/en/" if lang == 'en' else "/" %}
{% set navPages = collections["pages_" + lang] | eleventyNavigation %}

<li class="menu__item">
    <a href="/" class="menu__link" {% if currentUrl === '/' %}aria-current="page" data-active="active"{% endif %}>ראשי</a>
</li>
{% for page in navPages %}
<li class="menu__item">
    <a
    class="menu__link" {% if currentUrl === page.url %}aria-current="page" data-active="active"{% endif %}
    href="{{ page.url }}">
        {{ page.title }}
    </a>
</li>
{%- endfor %}