{% set currentUrl = page.url %}
{% set homeUrl = "/en/" if lang == 'en' else "/" %}

<nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container lang-{{ lang }}">
    <a href="{{ homeUrl }}"><img src="/img/worth-it-logo-web.svg" height="60" alt="{{ meta.siteName }}"></a>
    <ul role="list" class="tdbc-sitenav__navlist tdbc-list-unstyled">
        {# <li>
            <a
            {% if currentUrl === "/" %}aria-current="page" class="active"{% endif %}
            href="/">
                עמוד הבית
            </a>
        </li> #}
        {% for page in collections["pages_" + lang] %}
        <li>
            <a
            {% if currentUrl === link.url %}aria-current="page" class="active"{% endif %}
            href="{{ page.url }}">
                {{ page.data.eleventyNavigation.key }}
            </a>
        </li>
      {%- endfor %}
    </ul>

    {# loop though site.languages #}
    {% for lgg in meta.languages %}
    {% if loop.first %}<ul class="lang-switcher tdbc-list-unstyled">{% endif %}

    {# set translatedUrl to the homepage of that language by default #}
    {% set translatedUrl = "/" + lgg.code + "/" %}
   
    {# set current language class #}
    {% set hideLang = "hide-lang" if lgg.code == lang else "" %}

    {# loop through all the content of the site #}
    {% for item in collections.all %}

        {# for each item in the loop, check if
        - its translationKey matches the current item translationKey
        - its locale matches the code of the language we are looping through #}
        {% if item.data.translationKey == translationKey and item.data.lang == lgg.code %}
        {% set translatedUrl = item.url %}
         
        {% endif %}

    {% endfor %}

    <li class="lang-switcher__item {{ hideLang }}">
       {{ item.lang_direrectory }}
        <a class="lang-switcher__link" href="{{ translatedUrl }}">{{ lgg.label }}</a>
    </li>

    {% if loop.last %}</ul>{% endif %}
    {% endfor %}

    </div>
</nav>

