{% set currentUrl = page.url %}
{% set homeUrl = "/en/" if lang == 'en' else "/" %}

<nav aria-label="{{ "nav_menu" | i18n({}, locale) }}" class="nav{% if navOverlay %} nav--overlay{% endif %}">
    <div class="container">
        <div class="nav-content lang-{{ lang }}">
            <div class="nav-actions">
                <button class="nav-icon" aria-label="{{ "nav_menu" | i18n({}, locale) }}">
                    <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M19 7H1M19 1H1M19 13H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>

                {% if lang == 'en' %}
                <a href="https://wa.me/972545845515?text=Hi%20%3A)%20I%20found%20you%20through%20your%20website%2C%20I%27d%20love%20to%20hear%20more%20and%20schedule%20a%20trial%20session!" target="_blank" class="whatsapp-icon" aria-label="{{ "nav_whatsapp_aria" | i18n({}, locale) }}">
                {% else %}
                <a href="https://wa.me/972545845515?text=%D7%94%D7%99%D7%99%20%3A)%20%D7%94%D7%92%D7%A2%D7%AA%D7%99%20%D7%90%D7%9C%D7%99%D7%9A%20%D7%93%D7%A8%D7%9A%20%D7%94%D7%90%D7%AA%D7%A8%20%D7%A9%D7%9C%D7%9A%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A9%D7%9E%D7%95%D7%A2%20%D7%A2%D7%95%D7%93%20%D7%A4%D7%A8%D7%98%D7%99%D7%9D%20%D7%95%D7%9C%D7%AA%D7%90%D7%9D%20%D7%90%D7%99%D7%9E%D7%95%D7%9F%20%D7%A0%D7%A1%D7%99%D7%95%D7%9F!" target="_blank" class="whatsapp-icon" aria-label="{{ "nav_whatsapp_aria" | i18n({}, locale) }}">
                {% endif %}
                    {% include 'icon-whatsapp.njk' %}
                </a>
            </div>
            
            <a href="{{ homeUrl }}" class="logo">
                <img src="/img/worth-it-logo-web-updated.svg" height="40" alt="{{ meta.siteName }}" />
            </a>
            <ul role="list" class="navlist list-unstyled">
                {% include 'nav-loop.njk' %}
            </ul>
        </div>
    </div>
</nav>

<nav class="side-menu" aria-label="{{ "nav_menu" | i18n({}, locale) }}">
    <button class="close-menu" aria-label="{{ "nav_menu_close" | i18n({}, locale) }}">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    <div class="side-menu__panel">
        <ul class="menu__inner">
            {% include 'nav-loop.njk' %}
        </ul>
        <div class="side-menu__cta">
            <div class="btn btn-main second large">
                <button class="whatsapp-button" onclick="openWhatsApp()">
                    {% include 'icon-whatsapp.njk' %}
                    {{ "footer_cta_whatsapp_button" | i18n({}, locale) }}
                </button>
            </div>
        </div>
    </div>
</nav>