@use "theme" as *;
@use "sass:math";

// clear button styles
*:focus-visible,
a:focus-visible,
button:focus-visible {
    outline: 2px solid $tdbc-color-body;
    outline-offset: 2px;
}

button {
	-webkit-appearance: none;
	background-color: transparent;
	outline: none;
	border: none;
	margin: 0px;
	padding: 0px;
    cursor: pointer;
}

.btn {
    position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;    

	button,
    div {
		width: auto;
		display: block;
		outline: none;
		border: none;
        border-radius: 8px;
		@include transition(all, 0.3s, ease);
        overflow: hidden;
        z-index: 1;

        &:hover {
            outline: none;
        }
	}

    &.with-effect {
        // hover effect only
        @media (hover: hover) {
            overflow: hidden;

            button,
            div {
                border-radius: 8px;
                transition: transform 0.3s;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;            
                width: 100%;
                height: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color-main);
                content: attr(data-hover);
                @include transition(all, 0.3s, ease);
                transform: translateX(-25%);
            }

            &:hover,
            &:focus {
                color: var(--color-white);
                
                button,
                div {
                    transform: translateX(100%);
                }
            }

            &:hover,
            &:focus {
                &::before {
                    transform: translateX(0%);
                }
            }

        }
    }
}


.btn-main {
    button,
    div {
		font-size: em(16px);
		padding: 8px 16px;
		background-color: var(--color-main);
        color: var(--color-body);
		border: 1px solid transparent;
		border-radius: 8px;

		// &:hover {
		// 	background: var(--color-main-magenta);
		// }

		// &:focus {
		// 	background: var(--color-main-magenta);
		// }
	}
}

.btn-main,
.btn-outline {
	text-align: start;
	justify-content: flex-start;
	
	&.large {
		button,
        div {
			padding: 12px 24px;
		}
	}

    &.second {
        button,
        div {
            background-color: var(--color-second);
            color: var(--color-body);
        }
    }
}

.buttons-row {
    display: flex;    
    flex-direction: column;

    @include mq($mobile-l) {
        flex-direction: row;
        align-items: center;

        .btn:last-child {
            margin-inline-start: 8px;
        }
    }

    .btn:first-child {
        @include mq($mobile-l, max-width) {
            margin-bottom: 8px;
        }
    }
}
