// @font-face {
// 	font-family: "Rubik Regular";
// 	font-style: normal;
// 	font-weight: 500;
// 	src: local("Rubik Regular"), local("Rubik-Regular"),
// 		url("../fonts/Rubik-Regular.woff2") format("woff2");
// 	font-display: swap;
// }

// @font-face {
// 	font-family: "Rubik Bold";
// 	font-style: normal;
// 	font-weight: 500;
// 	src: local("Rubik Bold"), local("Rubik-Bold"),
// 		url("../fonts/Rubik-Bold.woff2") format("woff2");
// 	font-display: swap;
// }

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
