@use "theme" as *;
@use "sass:math";


/* Sass */
.pricing-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .pricing-column {
      text-align: center;
      padding: 20px;
      border: 1px solid #ccc;
  
      h3 {
        margin: 0 0 10px 0;
      }
  
      p {
        margin: 0 0 10px 0;
      }
  
      h4 {
        margin: 0;
      }
    }
  }
  
  .toggle-buttons {
    display: flex;
  
    .toggle {
      padding: 10px;
    }
  }
    