@use "theme" as *;

.rev-title {
	font-size: $tdbc-h1-font-size;
	font-size: unquote("min(max(3rem, 5vw), #{$tdbc-h1-font-size})");
}

.rev-title-inner {
	flex: none;
	display: inline-block;
	position: relative;
    padding: 0 8px;

    &.nowrap {
        @include mq($mobile-l) {        
            white-space: nowrap;
        }
    }

    &.text-start {
        align-self: flex-start;
    }

    &.title-bg {
        transition: 200ms all ease-in-out;

        &.yellow {
            background-color: var(--color-second);
            padding: 0 8px;
        }

        &.blue {
            border-right: 6px solid var(--color-main);
            padding-inline-start: 8px;

            &.full {
                background-color: var(--color-main);
                border: none;
                color: var(--color-white);
            }
        }
    }
}

.rev-image-text {
    display: flex;
    flex-direction: column-reverse;    

    @include mq($tablet) {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
}

.rev-grid {
	width: 100%;

    @include mq($tablet) {
        width: 25%;

        &.half {
            width: 50%;
        }
    }	

    &.above {
        z-index: 2;
        
        @include mq($tablet, max-width) {
            max-width: 95%;
            margin: -72px auto 0 auto;
        }
    }

    &.image {
        flex: none;
    }
}

.rev-grid-content {
    padding-inline-end: 24px;

    @include mq($tablet) {
        padding-inline-end: 40px;
    }
}

.rev-image {
    width: 100%;
    display: block;
}

.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-second);
	pointer-events: none;
	opacity: 0;
}

.block-revealer__content {
    @include transition(0.25s, opacity, ease-in);    
}