@use "sass:math";
@use "theme" as *;

// stylelint-disable selector-max-type
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	background-color: tdbc-color("primary");
    z-index: 10000;

	.nav-content {
        display: flex;
		flex-wrap: wrap;
		align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 0;

        .navlist {
            display: none;
        }

        .nav-actions {
            display: flex;
            align-items: center;
        }

        .nav-icon,
        .whatsapp-icon {
            display: flex;
            align-items: center;
            height: 24px;
            cursor: pointer;
        }

        .whatsapp-icon {
            margin-inline-start: 8px;
        }        

        @include mq($tablet) {

            // tablet layout - for long menus
            // flex-direction: column;
            // justify-content: center;
            // padding: 1.5rem 0 0 0;

            padding: 0;

            &.lang-he {
                // keep nav alwyas same direction
                flex-direction: row-reverse;
            }

            .navlist {
                display: flex;
                padding: 0;
            }

            .nav-actions {
                display: none;
            }
        }

        // when tablet mode is on
        // @include mq($desktop) {
        //     flex-direction: row;
        //     justify-content: space-between;
        //     padding: 0;

        //     &.lang-he {
        //         // keep nav alwyas same direction
        //         flex-direction: row-reverse;
        //     }
        // }
	}

	.navlist {
        margin: 0;

        li {
            display: flex;

            + li {
                margin-inline-start: 1rem;
            }

            a {
                position: relative;
                padding: 1.75rem 0;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background-color: var(--color-white);
                    transition: 180ms height ease-in-out;
                }

                &[data-active],
                &:hover {
                    &:after {
                        height: 4px;
                    }
                }
                
            }
        }
	}
	
	a:not(.tdbc-button) {
		color: tdbc-color("light");
		text-decoration: none;
	}

	a:not(.tdbc-button):focus {
		border-radius: math.div($tdbc-border-radius, 2);
		outline-color: transparent;
		outline-style: solid;
		box-shadow: 0 0 1px 2px tdbc-color("light");
	}
}

// lang switcher
.navlist,
.side-menu {
    .lang-switcher {
        &__item {
            &.hide-lang {
                display: none;
            }
        }
    }
}
// stylelint-enable
