:root {
    --color-main: #67B2AD;
    --color-second: #FDCA40;
    --color-third: #565676;
    --color-body: #413C58;
    --color-bg: #FAFAFA;
    --color-white: #FFFFFF;
	--color-gray: #A6A9BB;
}

$tdbc-border-radius: 8px !default;

$tdbc-font-family: "Rubik", sans-serif !default;
$tdbc-strong-font-weight: 400 !default;
$tdbc-h1-font-size: 4rem !default;
$tdbc-h2-font-size: 3rem !default;
$tdbc-h3-font-size: 2rem !default;
$tdbc-h4-font-size: 1.35rem !default;
$tdbc-text-font-size: 1.15rem !default;
$tdbc-lead-font-size: 1.35rem !default;

$tdbc-spacing: (
	sm: 1rem,
	md: 3rem,
	lg: 6rem,
	xl: 10rem,
	auto: "auto"
) !default;

// base font size
$bf: 16;

// Breakpoints
$mobile: 0;
$mobile-l: 544;
$tablet: 800;
$desktop: 1024;
$web: 1300;

// MQ with PX to EM
@mixin mq($width, $min-max: min-width) {
	// reduce 1 pixel for max-width queries
	@if $min-max == "max-width" {
		$width: $width - 1;
	}

	$em: calc($width / $bf);

	@media (#{$min-max}: #{$em}em) {
		@content;
	}
}

// PX to EM
@function em($pixels, $context: $bf) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return calc($pixels / $context * 1rem);
}

// transition
@mixin transition($transition-property, $transition-time, $method) {
    transition: $transition-property $transition-time $method;
}