@use "theme" as *;

$tdbc-typography-variants: h1, h2, h3, h4;

@each $type in $tdbc-typography-variants {
	#{$type},
	.tdbc-#{$type} {
		font-weight: $tdbc-strong-font-weight;
		line-height: 1.15;
		margin-bottom: 0.65em;
        color: var(--color-body);
	}
}

// As of v0.3.0, `clamp` not well enough supported on mobile browsers for use
// Due to build-in min/max Sass functions, requires `unquote()` to correctly
// render as CSS min/max
h1 {
	font-size: $tdbc-h1-font-size;
	font-size: unquote("min(max(2.5rem, 4vw), #{$tdbc-h1-font-size})");
}

h2 {
	font-size: $tdbc-h2-font-size;
	font-size: unquote("min(max(1.75rem, 2.3vw), #{$tdbc-h2-font-size})");
}

h3 {
	font-size: $tdbc-h3-font-size;
}

h4 {
	font-size: $tdbc-h4-font-size;
	color: var(--color-body);
}

p,
li {
	font-size: $tdbc-text-font-size;
}

p {
	margin: 0 0 1rem;

    &.center {
        text-align: center;
    }
}

article {
	> ul,
	> ol {
		> li + li {
			margin-top: 1rem;
		}
	}

	* {
		+ h2 {
			margin-top: 4rem;
		}

		+ h3 {
			margin-top: 2rem;
		}
	}
}

strong {
	font-weight: 700;
}

code:not([class*="language"]) {
	display: inline-flex;
	padding: 0.15em;
	background-color: tdbc-color("light");
	color: tdbc-color("gray");
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	border: 1px solid scale-color(tdbc-color("gray"), $lightness: 50%);
	border-radius: 2px;
	font-size: 0.75em;
	line-height: 1.1;
}

pre code:not([class*="language"]) {
	width: 100%;
	max-width: calc(100vw - 2rem);
	overflow-x: auto;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding-left: 1.5rem;
	border-left: 2px solid tdbc-color("secondary");
	color: tdbc-color("gray");

	&,
	p {
		font-size: $tdbc-h4-font-size;
	}

	+ * {
		margin-top: 3rem;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.list-unstyled {
	list-style: none;
}
