@use "theme" as *;

.tdbc-content-maxlength {
  max-width: 80ch;
}

.tdbc-anchor {
  display: inline-block;
  margin-left: 0.25em;
  transition: 180ms opacity ease-in-out;
  opacity: 0.6;
  font-size: 0.65em;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}