--- 
layout: base.njk
title: "WORTH IT | הדס משלי | מאמנת כושר עם שליחות "
description: ""
eleventyNavigation:
    order: 2
    key: "הסיפור שלי"
--- 

{% include 'sitenav.njk' %}
<header class="tdbc-hero">
    <div class="tdbc-container">
       <h1>הסיפור שלי</h1>
    </div>
</header>
<main class="tdbc-container">
    <div class="tdbc-section">

    </div>
</main>