--- 
layout: page.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | הדס משלי | מאמנת כושר עם שליחות"
description: "השליחות שלי היא לגרום לכם להתאהב בעצמכם, לגלות את החוזק שלכם וליהנות בטירוף על הדרך. בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
shareImage: "/img/content/hadas-mishli-weisflener.jpg"
translationKey: "myStory"
eleventyNavigation:
    order: 2
    key: "הסיפור שלי"
---
<script src="{{ '/scripts/mystory.js' | url }}" defer></script>

<div class="container">
    <section class="content-section hero split align-left">
        <div class="content-block text-end">
            <h1 class="rev-title-inner" id="mystory-content-title-1">הסיפור שלי</h2>
            <h2 class="rev-title-inner -title-bg blue">היי, נעים מאוד :) אני הדס משלי ויספלנר, מאמנת כושר שמאמינה בנפש בריאה בגוף בריא.</h2>
            <p>אני מאמינה באימונים מתוך אהבה עצמית, לא מתוך ביקורת או שנאה. <br>
            אלא מתוך הקשבה, חיבור וכבוד לגוף.</p>
            <p>השליחות שלי היא לחזק, להעצים, לחטב ולגרום לנשים לעוף על עצמן<br>
             מבפנים ומבחוץ.</p>
            <p>אני כאן כדי לתת את הפוש כשצריך, להזכיר ליהנות מהדרך, ולהוכיח שאין דבר שאנחנו לא מסוגלות לעשות. אני מרגישה ברת מזל שיש לי את הבמה ואת הזכות להעביר את העקרונות האלו הלאה.</p>
            <p>כי אנחנו WORTH IT.</p>
        </div>
        <img src="/img/content/hadas-mishli-weisflener.jpg" class="section-image" alt="הדס משלי ויספלנר מאמנת כושר בתל אביב"/>
    </section>

    <section class="content-section hero split align-right">
        <div>
            <img src="/img/content/hadas-worth-it-inspiration.jpg" class="section-image" alt="הדס משלי ויספלנר מאמנת כושר"/>
            <div class="image-credit">צילום: אורי טאוב </div>
        </div>
        <div class="content-block text-start">
            <h2 class="rev-title-inner" id="mystory-content-title-2">האמת.. ספורט לא תמיד זרם אצלי בדם</h2>
            <p>אני אפילו זוכרת איך בתיכון ניסיתי להתחמק מריצת 2000 😅</p>
            <p>אבל בשנת 2010 עברתי תהליך ששינה לי את החיים. <br>
            מאותו רגע, הספורט הפך לחלק בלתי נפרד ממני.</p>
            <p>מאז אני לא מפסיקה ללמוד, להתפתח, לעבור השתלמויות וקורסים, ולעבוד כל הזמן כדי להיות הכי מקצועית, רגישה והכי טובה במה שאני עושה.</p>
        </div>
    </section>

    <section class="content-section hero split align-left">
        <div class="content-block text-end">
            <h2 class="rev-title-inner" id="mystory-content-title-3">מאיפה הכל התחיל</h2>
            <p>גדלתי בתחילת שנות ה־90, בתוך עולם של אידיאל יופי ותכתיבים חיצוניים,<br>
             שלא משנה כמה ניסיתי, הרגשתי שאני אף פעם לא עומדת בהם.</p>
            <p>גדלתי עם חוסר חיבור לגוף, חוסר כבוד לעצמי, ובשלב מסוים גם עם הפרעת אכילה, מתוך רצון להרגיש שליטה.</p>
            <p>למזלי, אמא שלי (כפרה עליה 💛) חיברה אותי לנדב מאירסון, מאמן כושר מדהים שהפך לדמות משמעותית במסע שלי.</p>
            <p>גילוי נאות: בהתחלה עניינה אותי רק הנראות, לא הבריאות.</p>
            <p>אבל דרכו למדתי להתאמן ממקום אחר. ממקום של אהבה עצמית.</p>
            <p>שם הבנתי באמת את המשפט: “גופי הוא מקדשי”.</p>
            <p>שהעבודה על המיינד לא פחות חשובה מהעבודה על הגוף. שהם הולכים יחד, מחזקים ומעצימים אחד את השני.</p>
        </div>
        <img src="/img/content//hadas-worth-it-tehina.jpg" class="section-image" alt="הדס משלי ויספלנר בסטודיו"/>
    </section>

    <section class="content-section hero split align-right">
        <img src="/img/content/hadas-worth-it-studio-3.jpg" class="section-image" alt="הדס משלי ויספלנר בסטודיו"/>
        <div class="content-block text-start">
            <h2 class="rev-title-inner text-start" id="mystory-content-title-4">ומה היום?</h2>
            <p>היום, המשימה שלי היא להעביר את זה הלאה.<br>
             לעזור לנשים לגלות את החיבור לגוף שלהן, לחוש קבלה והגשמה עצמית, ואת הכוח הפנימי שלא תלוי במספר על המשקל. (וכל זאת עם תחת מוצק ומורם 😉)</p>
            <p>בסטודיו, בליווי האישי,  ובכל תהליך שאני מלווה.</p>
            <p>כי אהבה עצמית - היא הבסיס לאורח חיים בריא באמת.</p>
        </div>

    </section>
</div>