--- 
layout: base.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | הדס משלי | מאמנת כושר עם שליחות"
description: "השליחות שלי היא לגרום לכם להתאהב בעצמכם, לגלות את החוזק שלכם וליהנות בטירוף על הדרך. בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
translationKey: "myStory"
eleventyNavigation:
    order: 1
    key: "הסיפור שלי"
--- 
<script src="{{ '/scripts/mystory.js' | url }}" defer></script>
{% include 'sitenav.njk' %}
<main class="page-my-story">
    <div class="container">

        <section class="content-section hero split align-left">
            <div class="content-block text-end">
                <h2 class="rev-title-inner" id="mystory-content-title-1">&nbsp;הסיפור שלי&nbsp;</h2>
                <h3 class="rev-title-inner -title-bg blue">היי, נעים מאוד :) אני הדס משלי ויספלנר, מאמנת כושר שמאמינה בנפש בריאה בגוף בריא.</h3>
                <p>אני דוגלת בלהתאמן מתוך אהבה עצמית ולא מתוך שנאה עצמית ומונעת מתוך תחושת שליחות לחזק, להעצים, לחטב ולגרום לנו לעוף על עצמנו!</p>
                <p>אני כאן לתת את הפוש שצריך כשצריך אותו, להזכיר תמיד להנות מהדרך ולהוכיח שאין דבר שאנחנו לא מסוגלים לעשות.<br>
                כי אנחנו WORTH IT!</p>
                <p>אני מרגישה שנפלה בחלקי הזכות להעביר את זה הלאה בין אם בעבודה עם לקוחות בסטודיו שלי או דרך תוכנית האימונים בליווי אונליין שאני מציעה.</p>
            </div>
            <img src="/img/content/hadas-mishli-weisflener.jpg" class="section-image" alt="Some image"/>
        </section>

        <section class="content-section hero split align-right">
            <img src="/img/content/hadas-worth-it-grapes.jpg" class="section-image" alt="Some image"/>
            <div class="content-block text-start">
                <h3 class="rev-title-inner" id="mystory-content-title-2">האמת.. שספורט לא תמיד זרם אצלי בדם</h3>
                <p>אני אפילו זוכרת שבבגרות בספורט ממש ניסיתי להתחמק מריצת 2000!</p>
                <p>אבל הכל השתנה בשנת 2010 ,שם עברתי תהליך מכונן, מאותה נקודה משהו השתנה. הספורט נהיה חלק בלתי נפרד מחיי!</p>
                <p>מאז אני לא מפסיקה ללמוד, ללכת להשתלמויות, לקחת קורסים, להתפתח ולעשות כל מה שאני יכולה כדי להיות הכי מקצועית, רגישה והכי טובה במה שאני עושה!</p>        
            </div>
        </section>

        <section class="content-section hero split align-left">
            <div class="content-block text-end">
                <h3 class="rev-title-inner" id="mystory-content-title-3">אז מאיפה להתחיל?</h3>
                <p>גדלתי בתחילת שנות ה90, בצל מודל יופי ותכתיבים אופנתיים, שלא משנה מה ניסיתי וכמה רציתי, לא הצלחתי לעמוד ברף שהם הציבו.</p>
                <p>גדלתי עם שנאה עצמית, חוסר חיבור וחוסר כבוד לגוף שלי. עם השנים פיתחתי הפרעת אכילה שדרכה הרגשתי שאני לוקחת את השליטה על הגוף שלי.</p>
                <p>למזלי, אמא שלי (כפרה עליה!!) הפגישה אותי עם נדב מאירסון, מאמן כושר נחשב ומדהים שנהיה חלק בלתי נפרד מהמסע שלי. <br>גילוי נאות, בזמנו כל מה שעניין אותי היה הנראות ולא הבריאות.</p>
                <p>בעזרתו של נדב למדתי להתאמן ממקום של אהבה עצמית והבנתי כמה נכון המשפט "גופי הוא מקדשי", ושהעבודה על המיינד לא פחות חשובה מאשר על הגוף. השניים הולכים יחד, הם מעצימים ומשלימים אחד את השני.</p>
                <p>כעת, המשימה שלי היא לעזור לאחרים לגלות את אותה תחושת קבלה והגשמה עצמית ולהבין שאהבה עצמית היא הבסיס לאורח חיים בריא.</p>

            </div>
            <img src="/img/content/hadas-worth-it-tehina.jpg" class="section-image" alt="Some image"/>
        </section>
    </div>
    {% include 'footer-cta.njk' %}
</main>