---
layout: page.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | ליווי אונליין | סטודיו ביתי לאימוני כושר"
description: "הצטרפו לתוכנית הליווי מרחוק של הסטודיו. בה תקבלו תוכנית אימונים מלאה, מאתגרת ומותאמת אישית, אותה ניתן לבצע בכל מקום ובכל זמן!"
translationKey: "online"
shareImage: "/img/worth-it-logo-square-updated.svg"
eleventyNavigation:
    order: 5
    key: "ליווי אונליין"
---
<script src="{{ '/scripts/online.js' | url }}" defer></script>

<main class="container">
    <section class="content-section hero split align-left">
        <div class="content-block text-end">
            <h1 class="rev-title-inner" id="online-main-title">מסלול ליווי אונליין</h1>
            <p>רוצה להתאמן איתי, גם כשאין לך זמן להגיע לסטודיו?<br>
            בדיוק בשביל זה בניתי את תוכנית האונליין.</p>
            <p>התוכנית מתאימה לנשים עסוקות עם זמן מוגבל.<br>
            היא ממוקדת, אפקטיבית ולא דורשת ציוד מיוחד.</p>
            <p>במסלול ליווי האונליין את מקבלת תוכנית אימונים מלאה, מאתגרת ומותאמת אישית,
            שאפשר לבצע בכל מקום ובכל זמן שנוח לך, לפי הלו״ז שלך.</p>
            <p>התוכנית מותאמת למספר הימים שיש לך להתאמן בשבוע
            ולזמן שיש לך לכל אימון.</p>
            <div class="buttons-row">
                <a href="/contact/" class="btn btn-main second with-effect" data-hover="לתיאום שיחת היכרות">
                    <div>לתיאום שיחת היכרות אונליין</div>
                </a>
            </div>
        </div>
        <img src="/img/content/hadas-worth-it-online-training.jpg" class="section-image" alt="הדס משלי ויספלנר - ליווי אונליין"/>
    </section>

    <section class="content-section hero single online-details">
        <div class="content-block single">
            <h2 class="rev-title-inner text-start" id="online-sub-1">הדרכה, מעקב וליווי בכל שלב</h2>
            <p>בכל תוכנית, לכל תרגיל מצורף סרטון הדגמה,
            עם הסברים ברורים על ביצוע נכון ודגשים חשובים.</p>
            <p>כך אנחנו שומרות על טכניקה, דיוק והתקדמות,
            גם כשאת מתאמנת מרחוק.</p>
            <p>לאורך כל התהליך יש מעקב אחרי ההתקדמות שלך,
            ואת מקבלת פידבק אישי ומדויק.</p>
            <p>אחת לשבוע נקיים שיחת עדכון,
            נעבור על השבוע שהיה
            ונבנה יחד את השבוע הבא.</p>
            <p>כדי שתרגישי חזקה יותר, בטוחה יותר,
            ושספורט סוף סוף יהפוך להרגל קבוע.</p>
            <p>מרחוק. אבל עם ליווי צמוד ותוצאות אמיתיות.</p>
        </div>
    </section>
</main>
