--- 
layout: base.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | ליווי אונליין | סטודיו ביתי לאימוני כושר"
description: "הצטרפו לתוכנית הליווי מרחוק של הסטודיו. בה תקבלו תוכנית אימונים מלאה, מאתגרת ומותאמת אישית, אותה ניתן לבצע בכל מקום ובכל זמן!"
translationKey: "online"
shareImage: "/img/worth-it-logo-square.svg"
eleventyNavigation:
    order: 5
    key: "אונליין"
--- 

{% include 'sitenav.njk' %}
<main class="container">
    <section class="content-section hero single">
        <h2 class="rev-title-inner text-start title-bg yellow" id="pricing-plams-title">&nbsp;מסלול אונליין&nbsp;</h2>
        <div class="content-block single">
            <p>במסלול האונליין אני בונה לך תוכנית אימונים מלאה, מאתגרת ומותאמת אישית, אותה אפשר לבצע בכל מקום ובכל זמן שנוח לך! נטו לפי הלו"ז שלך.</p>
            <p>התוכנית בנויה ומותאמת למספר הימים שיש לך להתאמן בשבוע ולזמן שיש לך לכל אימון. <br>
            למשל: תוכנית של 3 ימים בשבוע: 2 אימונים באורך של 40-60 דקות ועוד אימון של חצי שעה.</p>
            <p>בכל תוכנית, לכל תרגיל יש קישור לערוץ היוטיוב שלי לסרטוני הדגמה והסברים מפורטים על ביצוע נכון של התרגילים - אלו תמיד יהיו לך זמינים.<br>
            בעזרתם נעבוד על טכניקה ונעבור על הדגשים החשובים לכל תרגיל.</p>
        </div>
        <img src="/img/content/home-bg.jpeg" alt="">
    </section>

     <section class="content-section hero single">
        <h3 class="rev-title-inner text-start title-bg blue" id="pricing-plams-title">תיעוד האימונים</h3>
        <div class="content-block">
            <p>על מנת שאוכל לעקוב אחרי ההתקדמות שלך בצורה הטובה ביותר, כל מה שעליך לעשות הוא לצלם את עצמך מבצעת מספר חזרות מכל תרגיל.<br>
            את הצילומים יש להעלות לתיקיית DOCS ייעודית שאפתח לנו.</p>
            <p>לאחר שאעבור על הצילומים, ארשום הארות, הערות ודגשים לכל תרגיל. בצורה זו נשפר את הטכניקה, נתקדם מאימון לאימון ונבנה חוזק וביטחון.</p>
        </div>

        <h3 class="rev-title-inner text-start title-bg blue" id="pricing-plams-title">הליווי כולל</h3>
        <div class="content-block">
            <p>הליווי אומנם מרחוק, אך אישי לא פחות!</p>
            <p>במהלך השבוע אהיה יחד איתך עם היד על הדופק על ביצוע האימונים ואעבור על התרגילים המצולמים שלך. אנו נקיים שיחת עדכון פעם בשבוע, בטלפון או בזום, ונעבור יחד על השבוע שהיה.</p>
            <p>חשוב לי לעשות מעקב שוטף ומקיף. לשמוע את דעתך, לעדכן ולהתאים את דרגת הקושי של התרגילים, לדייק ולהכין אותך לקראת שבוע אימונים חדש.</p>
        </div>

        <h3 class="rev-title-inner text-start title-bg blue" id="pricing-plams-title">עלות</h3>
        <div class="content-block">
            <ul>
                <li>בניית תוכניות אימון ראשונה בסך 250 ₪.</li>
                <li>תשלום חודשי בסך 300 ₪. </li>
                <li>שינוי תוכנית בסך 200 ₪.</li>
            </ul>
            <p>שינוי תוכנית האימון תהיה לפי התקדמות אינדיבידואלית ותשתנה פעם בחודש-חודשיים (פלוס מינוס). דיוק תוכנית קיימת ללא עלות נוספת!</p>
            <p>מבטיחה שיהיה כיף, מאתגר, מחטב ומחזק! 💛💪💛💪</p>
        </div>
    </section>
</main>
{% include 'footer-cta.njk' %}