--- 
layout: base.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | מחירים | סטודיו ביתי לאימוני כושר ממכרים"
description: "מגוון מנויים במחירים אטרקטיביים! אימון ניסיון ללא התחייבות ועם הרבה כיף. בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
shareImage: "/img/worth-it-logo-square.svg"
translationKey: "pricing"
eleventyNavigation:
    order: 4
    key: "מחירים"
--- 
<script src="{{ '/scripts/pricing.js' | url }}" defer></script>
{% include 'sitenav.njk' %}
<div class="page-header">

</div>
<div class="container">
    <section class="content-section hero">
        <h1 class="rev-title-inner" id="pricing-main-title">אימונים קבוצתיים</h1>
        <p class="center">בסטודיו האימונים הקבוצתיים הם עד 6 מתאמנים בלבד, כך שמובטח היחס הכי אישי באווירה כיפית וממכרת.</p>

        <div class="pricing-tabs-container">
            <div class="pricing-tabs">
                <button class="active">מנוי לחצי שנה</button>               
                 <button>מנוי ל-3 חודשים</button>
                <button>מנוי חודשי</button>
            </div>
            <div class="pricing-content">
                <div class="tab-content active">
                    <img src="/img/pricing/6-month.png" class="desktop" alt="Hadas Worth It Pricing Plan - 6 Month">
                    <img src="/img/pricing/6-month-m.png" class="mobile" alt="Hadas Worth It Pricing Plan - 6 Month">
                </div>
                <div class="tab-content">
                    <img src="/img/pricing/3-month.png" class="desktop" alt="Hadas Worth It Pricing Plan - 3 Month">
                    <img src="/img/pricing/3-month-m.png" class="mobile" alt="Hadas Worth It Pricing Plan - 3 Month">
                </div>
                <div class="tab-content">
                    <img src="/img/pricing/1-month.png" class="desktop" alt="Hadas Worth It Pricing Plan - 1 Month">
                    <img src="/img/pricing/1-month-m.png" class="mobile" alt="Hadas Worth It Pricing Plan - 1 Month">
                </div>
            </div>
            <div class="pricing-terms">
                <ul>
                    <li>מחיר התוכנית הינו חודשי.</li>
                    <li>ניתן לפרוש את האימונים באיזו צורה שרוצים במהלך החודש.</li>
                    <li>ניתן להקפיא מנוי לשבוע ומעלה. ועד חודש סה”כ.</li>
                    <li>ניתן לבטל אימון בהתראה של עד 24 שעות. כל ביטול בהתראה קצרה מ-24 שעות ייחשב ככניסה.</li>
                    <li>במקרה של ביטול מנוי לפני תקופת ההתחייבות: המחיר החודשי יהיה לפי תוכנית התואמת את מספר החודשים שנוצלו.</li>
                </ul>
            </div>
        </div>        
    </section>

    <div class="star-sep">
        <img src="/img/icons/i-star-bullet.svg" alt="">
        <img src="/img/icons/i-star-bullet.svg" alt="">
        <img src="/img/icons/i-star-bullet.svg" alt="">
    </div>

    <section class="content-section hero">
        <h2 class="rev-title-inner" id="pricing-sub-1">אימונים אישיים וזוגיים</h2>

        <div class="pricing-tabs-container">
            <div class="pricing-content personal">
                <img src="/img/pricing/personal.png" class="desktop personal" alt="Hadas Worth It Pricing Personal">
                <img src="/img/pricing/personal-m.png" class="mobile" alt="Hadas Worth It Pricing Personal">
            </div>
        </div>

        <div class="pricing-terms">
            <ul>
                <li>הכרטיסיות תקפות ל-4 חודשים.</li>
                <li>ניתן לבטל אימון בהתראה של עד 24 שעות. כל ביטול בהתראה קצרה מ-24 שעות ייחשב ככניסה.</li>
            </ul>
        </div>
    </section>
</div>
{% include 'footer-cta.njk' %}

<script>
    // pricing tabs
    const pricingTabs = document.querySelectorAll('.pricing-tabs button');
    const tabContents = document.querySelectorAll('.tab-content');

    pricingTabs.forEach(tab => {
        tab.addEventListener('click', () => {
            // Remove active class from currently active tab
            const activeTab = document.querySelector('.pricing-tabs button.active');
            activeTab.classList.remove('active');
            tab.classList.add('active');

            // Find the index of the clicked tab
            const tabIndex = [...pricingTabs].indexOf(tab);

            // Remove active class from currently active tab content
            const activeTabContent = document.querySelector('.tab-content.active');
            activeTabContent.classList.remove('active');

            // Add active class to corresponding tab content element
            tabContents[tabIndex].classList.add('active');
        });
    });
</script>

