--- 
layout: base.njk 
--- 
{% include 'sitenav.njk' %}
<header class="tdbc-hero">
    <div class="tdbc-container">
       <h1>מחירון</h1>
    </div>
</header>
<main class="tdbc-container">
    <div class="tdbc-section">
        
    </div>
</main>