--- 
layout: base.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "WORTH IT | מערכת | סטודיו ביתי לאימוני כושר ממכרים"
description: "מערכת שעות דינמית שמותאמת ללו\"ז שלך! בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
translationKey: "schedule"
eleventyNavigation:
    order: 3
    key: "מערכת שעות"
--- 

{% include 'sitenav.njk' %}
<main class="container">
    <section class="content-section hero single">
        <h2 class="rev-title-inner text-start title-bg yellow" id="pricing-plams-title">&nbsp;מערכת שעות&nbsp;</h2>
        <div class="content-block single">
            <p>בסטודיו Worth It הכל מבוסס על התאמה אישית.<br>
            לכן, גם מערכת האימונים נבנית בהתאמה אישית אליכם!</p>
            <p>בכל שבוע נבנית מערכת שעות חדשה בהתאם ללו"ז הדינאמי והמשתנה של כולם.</p>
        </div>
        <img src="/img/content/home-bg.jpeg" alt="">
    </section>

     <section class="content-section hero single">
        <h3 class="rev-title-inner text-start title-bg blue" id="pricing-plams-title">איך זה עובד?</h3>
        <div class="content-block">
           <p>אתם שולחים לי ביום רביעי בקשות/אילוצים ומתוך זה אני בונה את המערכת.<br>
           עד יום חמישי בבוקר אני שולחת לכולם את השיבוצים לאימונים לשבוע הקרוב!<br>
           (נשבעת שאני יכולה להעביר הדרכות בניית סידור בצורה הכי מהירה ואפקטיבית לאחמ"שים בעיר!)</p>
           <p>יותר בקטע של שגרה? אין בעיה!<br>
           גם לזה יש מקום והתחשבות בבניית המערכת (אני אלופת הסודוקו.)</p>
           <p>אז מתי האימונים?<br>
           אימוני הערב מתקיימים בסביבות השעות:<br>
           17:00 / 18:00 / 19:00</p>
           <p>אימוני הבוקר מתקיימים בסביבות השעות:<br>
           8:00 / 9:00</p>
           <ul>
                <li>השעות יכולות לזוז ברמת רבע שעה / חצי שעה לפה או לשם, תלוי בבקשות של כולם.</li>
                <li>כמובן ששעות נוספות יכולות ומוזמנות להיפתח בהתאם לדרישה!</li>
           </ul>
        </div>
    </section>
</main>
{% include 'footer-cta.njk' %}