--- 
layout: page.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | מערכת | סטודיו ביתי לאימוני כושר ממכרים"
description: "מערכת שעות דינמית שמותאמת ללו\"ז שלך! בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
translationKey: "schedule"
shareImage: "/img/worth-it-logo-square-updated.svg"
eleventyNavigation:
    order: 3
    key: "מערכת שעות"
--- 
<script src="{{ '/scripts/schedule.js' | url }}" defer></script>

<main class="container">
    <section class="content-section hero split align-left">
        <div class="content-block text-end">
            <h1 class="rev-title-inner text-start" id="schedule-main-title">מערכת השעות שלנו</h1>
            <p>בסטודיו Worth It הכל מבוסס על התאמה אישית.<br>
            לכן, גם מערכת האימונים נבנית בהתאמה אישית אליך!</p>      
            <p>בניגוד להרבה סטודיואים בעיר, אצלנו לא צריך “לרדוף” אחרי מקום באימון, ולא להיכנס ללינק בשעה מסוימת ולקוות שלא תגיעי לרשימת המתנה.</p>
            <p>אחרי אימון ניסיון, שבו את מכירה אותנו ואנחנו מכירות אותך, וכשאת מרגישה שזה המקום שלך, אנחנו קובעות יחד ימים ושעות קבועים לאימונים.</p>
            <p>אלה הימים שלך. השעות שלך. המקום שלך בסטודיו.</p>
            <p>אף אחת לא “תיקח” לך אותם.</p>
            <p>כמובן שהחיים דינמיים, ולפעמים צריך להזיז, לשנות או להתגמש. תמיד נמצא פתרון על בסיס מקום פנוי.</p>
            <p>אבל מה שבאמת עושה את ההבדל, ועוזר להתמיד ולראות תוצאות - זה הקביעות.</p>
            <p>כשהאימונים נכנסים ללוז שלך כמשהו קבוע, כמו פגישה עם עצמך, הם הופכים לחלק מהחיים.</p>
            <p>וזה בדיוק מה שאנחנו בונות כאן.</p>
        </div>
        <img src="/img/content/worth-it-strong-women.jpg" class="section-image" alt="">
    </section>

    <section class="content-section hero single">
        <div class="content-block">
            <h2 class="rev-title-inner" id="schedule-sub-1">שעות הפעילות</h2>
            <p>ימי ראשון עד חמישי:</p>
            <ul>
                <li>אימוני בוקר: 07:15 | 08:15 | 09:15</li>
                <li>אימוני ערב: 18:30 | 19:30</li>
                <li><strong>ימי שישי</strong>: אימוני פילאטיס בשעות הבוקר</li>
            </ul>
        </div>  
    </section>  
</main>