--- 
layout: base.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | סטודיו ביתי לאימוני כושר ממכרים"
description: "האימונים משלבים אימוני כח, אימונים פונקציונליים ואימוני ליבה ומתאימים לכל הרמות והמטרות. בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
shareImage: "/img/content/home-bg.jpeg"
translationKey: "theStudio"
eleventyNavigation:
    order: 2
    key: "על הסטודיו"
--- 

{% include 'sitenav.njk' %}
<main class="container">
    <section class="content-section hero single">
        <h2 class="rev-title-inner text-start title-bg yellow" id="pricing-plams-title">&nbsp;על הסטודיו&nbsp;</h2>
        <div class="content-block single">
            <p>הגישה שלי לספורט ובכלל, היא גישה הוליסטית.</p>
            <p>אני מאמינה שלפן המנטלי יש תפקיד בלתי נפרד בהגשמת המטרות שלנו, יחד עם הפן הפיזי. <br>
            לכן האימונים בסטודיו משלבים אימוני כושר עם ליווי אישי</p>
            <p>מעבר לאימונים, נעבוד על תזונה, הרגלים יומיומיים שמטיבים עמנו והכל באווירה נעימה ומכילה. המטרה היא לשלב ולאמץ אורח חיים בריא ונכון יותר באורח החיים הקיים שלך, בדרך הכי טבעית ונוחה עבורך.</p>
        </div>
        <img src="/img/content/home-bg.jpeg" alt="">
    </section>

     <section class="content-section hero single">
        <h3 class="rev-title-inner text-start title-bg blue" id="pricing-plams-title">אז מה הולך כאן?</h3>
        <div class="content-block">
           <p>האימונים משלבים אימוני כח, אימונים פונקציונליים, אימוני ליבה ומתאימים לכל הרמות והמטרות. והכל בשילוב של מגוון רחב של ציוד, כמו: קטלבלס, דאמבלס, פלטות, מוטות, רצועות TRX, גומיות ושאר ירקות.. השמיים הם הגבול!</p>
           <p>בסטודיו מועברים אימונים קבוצתיים, אישיים וזוגיים. <br>
           האימונים הקבוצתיים הם עד 6 מתאמנים בלבד!!<br>
           כך שתקבלו את היחס הכי אישי שיש יחד עם האווירה והאנרגיות של אימון בקבוצה.</p>
           <p>אני בונה את האימונים במיוחד עבור המתאמנים המשובצים באותו אימון.<br>
           בהתאם למטרות, היכולות ותוכניות האימונים שאני בונה לכל אחת ואחד.<br>
           ממש אימון אישי במחיר של אימון קבוצתי!</p>
           <p>את האימונים אני מעבירה בשיטה ייחודית ומהנה שפיתחתי!<br>
           השיטה מבוססת על פורמטים שונים של אימונים, כמו:<br>
           אימון תחנות (הפייבוריט הבלתי מעורער של הסטודיו!), Ups & Downs, מגוון אימוני סטים, אימוני פירמידות ועוד..</p>
           <p>כלומר: לכל אימון יש פורמט ברור ופשוט. אך אופי האימון, העצימות שלו וכמובן התרגילים - משתנים מאימון לאימון.</p>
           <p>אני בטוחה שכרגע כל השמות האלו נשמעים לך כמו סינית, אבל אני מבטיחה לך שמהר מאוד נכנסים ללופ ומתאהבים!</p>
        </div>
    </section>
</main>
{% include 'footer-cta.njk' %}