--- 
layout: page.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | סטודיו ביתי לאימוני כושר ממכרים"
description: "האימונים משלבים אימוני כח, אימונים פונקציונליים ואימוני ליבה ומתאימים לכל הרמות והמטרות. בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
shareImage: "/img/content/home-bg.jpeg"
translationKey: "theStudio"
eleventyNavigation:
    order: 1
    key: "על הסטודיו"
---
<script src="{{ '/scripts/the-studio.js' | url }}" defer></script>

<main class="container">
    <section class="content-section hero single">
        <div class="content-block single">
            <h1 class="rev-title-inner text-start" id="the-studio-main-title">על הסטודיו</h1>
            <p>הגישה שלי לספורט ולחיים היא גישה הוליסטית. אני מאמינה שהפן המנטלי והפן הפיזי הולכים יחד, וכדי להגיע לתוצאות אמיתיות שמחזיקות לאורך זמן,  אנחנו חייבות לחבר את שניהם.</p>
            <p>לכן האימונים בסטודיו משלבים כושר עם ליווי אישי. מעבר לאימון עצמו, אנחנו עובדות גם על תזונה, על הרגלים יומיומיים שמיטיבים איתך, והכול באווירה נעימה ומכילה.</p>
            <p>המטרה היא לא לשנות לך את החיים, אלא לשדרג את אורח החיים הקיים שלך, בצורה טבעית, נוחה וברת קיימא.</p>
            <img src="/img/content/hadas-worth-it-studio.jpg" alt="The Studio of Hadas Worth It Fitness">

        </div>

        <div class="content-block">
            <h2 class="rev-title-inner text-start" id="the-studio-sub-1">אז מה מחכה לנו כאן?</h2>
            <p>האימונים משלבים:  אימוני כוח, אימונים פונקציונליים ואימוני ליבה,  ומתאימים לכל רמה ולכל מטרה.</p>
            <p>אנחנו עובדות עם מגוון רחב של ציוד: <br>
            קטלבלס, דאמבלס, פלטות, מוטות, רצועות TRX, גומיות ועוד. <br>
            בקיצור: לא משעמם כאן לרגע 😉
            </p>
            <p>האימונים הקבוצתיים כוללים עד 5 מתאמנות בלבד, כדי לאפשר יחס אישי אמיתי, התאמה מדויקת וליווי מקצועי לאורך הדרך.</p>
        </div>

        <div class="content-block">
            <h2 class="rev-title-inner text-start" id="the-studio-sub-2">השיטה שלי</h2>
            <p>האימונים מועברים בשיטה ייחודית ומהנה שפיתחתי,  המבוססת על פורמטים ברורים ומגוונים, למשל: (סליחה מראש על ה־name dropping 😉) <br>
            אימוני תחנות, Ups & Downs, אימוני סטים, פירמידות ועוד.
            </p>
            <p>לכל אימון יש מבנה קבוע וברור,  אבל התרגילים, העצימות ואופי האימון משתנים כל הזמן, כדי לאתגר, לחדש ולהתקדם.</p>
            <p>ואם כל השמות האלו נשמעים לך כרגע כמו סינית - אל דאגה. <br>
            מהר מאוד נכנסים לזה ומתאהבים בדרך 💛</p>
        </div>
    </section>
</main>