--- 
layout: base.njk
lang: "en"
locale: "en-US"
dir: "ltr"
title: "Worth It Studio | בלוג | סטודיו ביתי לאימוני כושר ממכרים"
description: ""
shareImage: "/img/worth-it-logo-square.svg"
translationKey: "blog"
eleventyNavigation:
    order: 7
    key: "Blog"
pagination:
  data: posts
  size: 100
  alias: posts
--- 
<div class="page-blog">
    <div class="blog-header">
        <h1>Open Book</h1>
        <p>I decided to take advantage of this platform and write myself out.<br> There's no specific agenda... no defined topic... there's just me :)</p>
    </div>
    {% include 'posts-loop.njk' %}    
</div>