--- 
layout: post.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "אני הדס ובחיים לא כתבתי בלוג"
description: "אני עוברת עכשיו משהו גדול ומשמעותי והבנתי כמה השפעה יכולה להיות לי רק מעצם העובדה שאני מרגישה בנוח לפתוח ולדבר על הדברים"
date: Created
post_date: 1/2/22
tags: ['post']
mainImage: "/img/blog/my-first-blog.jpg"
shareImage: "/img/blog/my-first-blog.jpg"
--- 

<h2 class="rev-title-inner title-bg blue">נעים מאוד:) אני הדס, ובחיים לא כתבתי בלוג.</h2>
<p>אני עוברת עכשיו משהו גדול ומשמעותי בחיים שלי והבנתי כמה השפעה יכולה להיות לי רק מעצם העובדה שאני מרגישה בנוח לפתוח ולדבר על הדברים.</p>
<p>דברים שנחשבים לפעמים לרגישים ושנוגעים בכל כך הרבה א.נשים. </p>
<p>אני מקווה שחלק מההשפעה שלי תהיה לעזור לנו להרגיש שאנחנו לא לבד! </p>
<p>לכן החלטתי לנצל את הבמה ולכתוב את עצמי החוצה.</p>
<div class="img-block">
    <img src="/img/blog/hadas-happy.jpg" alt="Hadas holding a dring smiling">
    <div class="image-credit">צילום: מעיין סלע</div>
</div>
<h3 class="rev-title-inner title-bg blue">אין אג׳נדה מסויימת.. אין נושא מוגדר.. יש אותי :)</h3>
<p>הדס, בת 34, תל אביבית במקור, אבל הרבה בטוחים שאני בכלל מאיזה מושב בצפון הארץ.</p>
<p>אני מאמנת כושר, שהמקצוע לגמריי בחר בי מתוך תחושת שליחות אדירה לעזור לא.נשים להתאהב בעצמם.</p>
<p>התמודדתי עם הפרעת אכילה, שמלווה אותי כך או אחרת במהלך החיים.</p>
<p>אני בהריון ראשון וחווה את כל מה שהתקופה המטורפת, מדהימה והמבלבלת הזו מביאה איתה.</p>
<p>אני בת זוג לדורון, הגבר הכי מדהים בעולם (סורי ליידיז.. נגעתי בשחור. נגעתי בלבן.) ואני ממש מודה על כך שאנחנו יחד כבר למעלה מעשור (!!)</p>
<p>ועוד כמה חודשים אהיה אמא (וואט דה פאק?!) ואין לדעת אילו תובנות והתמודדויות השלב הזה בחיים יביא איתו..</p>
<p>אז אני מניחה שכל הנושאים האלו יעמדו על הפרק ויהיו קשורים זה בזה. </p>
<p>בגדול אני ספר פתוח ואתם מוזמנים לקרוא!</p>