--- 
layout: post.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "מערכת היחסים הכי ארוכה שהיתה לי"
description: "הקשר הכי ארוך שהיה לי הוא עם הפרעת האכילה שלי.
בניגוד למערכות יחסים משמעותיות אחרות, אני לא זוכרת את התאריך המדוייק שהיא התחילה. רק שזה היה אי שם בשנת 2008.
"
post_date: 2/16/22
tags: ['post']
mainImage: "/img/blog/my-longest-relationship.jpeg"
shareImage: "/img/blog/my-longest-relationship.jpeg"
---

<h2 class="rev-title-inner title-bg blue">הקשר הכי ארוך שהיה לי הוא עם הפרעת האכילה שלי.</h2>

<p>הייתם מצפים שאגיד עם דורון, נכון? <br>במרץ הרי נחגוג 11 שנים יחד. אבל האמת שלא..</p>

<p>הקשר הכי ארוך שהיה לי הוא עם הפרעת האכילה שלי.<br>
בניגוד למערכות יחסים משמעותיות אחרות, אני לא זוכרת את התאריך המדוייק שהיא התחילה. רק שזה היה אי שם בשנת 2008.<br>
אבל את היום שזה התחיל אני זוכרת כאילו זה היה אתמול. את ההתרגשות של ההתחלה, אני עדיין יכולה להרגיש כמעט במדויק.</p>

<p>וואלה, כשאני חושבת על זה.. ב-2008 ה״רומן״ הזה רק התממש, קיבל צורה.<br>
המערכת יחסית עם הפרעת האכילה התחילה תכלס כבר בכיתה ה׳.<br>
חזרתי מבית הספר עם חברה והצהרנו שאנחנו בדיאטה ולא נאכל יותר מ-700 קלוריות באותו היום!<br>
גם את הרגע הזה אני זוכרת טוב מאוד. זו היתה הפעם הראשונה שהחוסר ביטחון הפנימי התחיל לקבל תוקף במעשים בעולם החיצוני.</p>

<p>אני לא יודעת להגיד למה ואיך כבר בכיתה ה׳ היתה לי את המודעות הזו לגוף ולנראות, את הלקסיקון הזה של דיאטה וקלוריות..<br>
אמא שלי לא היתה מהנשים שלא אהבו את הגוף שלהן, כך שזה לא חילחל אלי ממנה.. ההפך! תמיד היא היתה אישה מרשימה, חזקה, עצמאית, ליידיבוסית חושילינג של שנות ה-90.<br>
לא. זה לא הגיע מהבית..</p>

<p>לא משנה, זה הגיע.<br>
ומאותו רגע, זה התחיל לעצב אותי.<br>
שנים של שנאה עצמית, חוסר ביטחון, צורך באישורים מהסביבה, ההרגשה שאני לא מספיק..</p>

<p>כל אלו יצרו אצלי מציאות של חוסר שליטה. הערכת החסר של ה"עצמי" הציבו סטנדרטים ממש *ממש* נמוכים, אם בכלל, לאנשים שאני מכניסה לחיים שלי, ללב שלי, לתחתונים שלי..<br>
רק כי רציתי חברה, אישור, יחס.. וא.נשים ניצלו את זה. הרי כמה זה קל לצבור ביטחון ע״י רמיסה של האחר? ואני הייתי מטרה כל כך קלה.</p>

<p>בסופו של דבר, כל הספין של חוסר השליטה הגיע גם לאוכל.<br>
בולמוסים בלתי נשלטים, בהם יכלתי לפרק מקרר שלם רק בשביל לנסות לסתום את החור ענק שהיה לי בלב.<br>
ואז.. בשנת 2008 הצלחתי להקיא.<br>
אומייגוד! הרגשת השליטה!! הנה היא!<br>
נשבעת שבחיים לא הרגשתי כל כך חזקה, בשליטה, מלכת העולם - לא פחות!<br>
הנה! אני סופסוף שולטת במשהו! במה שאני מכניסה ומוציאה מהגוף שלי. וזו באמת הרגשה ממכרת. השליטה הזו.</p>

<p>בהתחלה באמת חשבתי שמדובר רק בעניין של נראות, של לרדת במשקל.<br>
אבל הירידה במשקל נעצרת באיזשהו שלב.<br>
הגוף נכנס למצב של סטרס. ולא משנה כמה תקיאי - הגוף ילמד לקחת את מה שהוא יכול, הכי מהר שאפשר ולאגור אותו לפני שתספיקי להוציא את זה החוצה.</p>

<p>לקח לי כמה שנים להבין שהרגשת השליטה היא זו שאני מחפשת.<br>
הצורך, הבאמת קיומי, להיות אסרטיבית בחיים של עצמי. להוביל ולא להיות מובלת.</p>

<p>רק אז התחלתי את התהליך האמיתי של השינוי (עם עזרה של טיפול פסיכולוגי כמובן והמון כח רצון).
מלהיות הסמרטוט רצפה שמנגבים איתו את המיץ של הזבל, לליידיבוסית חושילינג של המאה ה-21. (הכי הומאג׳ לאמא!)</p>

<p>אבל הפוסט הזה יוצא הרבה יותר ארוך ממה שתכננתי.. (כיאה לפוסט שמדבר על מערכת יחסים ארוכה)
אז נראה לי שאכתוב אותו בחלקים.</p>

<p>אסיים אותו ואגיד שהפרעת אכילה לא נעלמת.<br>
הקול הזה בראש לא נעלם לגמריי. הוא תמיד מלווה אותי, אבל מקבל התייחסות שונה לחלוטין.<br>
היום אני כבר לא מקיאה. אבל אין ספק שהבולמיה לימדה אותי על הצורך שלי בשליטה, וזה מה שבחרתי לקחת ממנה.</p>

<p>איך זה בא לידי ביטוי בחיים שלי, בעסק שלי ואפילו בהריון שלי, אני כבר אספר בפוסט הבא..</p>

<p>ועוד משהו אחרון (נשבעת..)<br>
אם את או אתה קוראים את זה ומזדהים, נמצאים באיזשהו מקום חשוך של חוסר שליטה..<br>
אתן.ם לא לבד!<br>
אם תרצו לפנות אלי ולדבר איתי, אני יותר מאשמח! ואתן.ם יותר ממוזמנות.ים 3</p>
