--- 
layout: base.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
--- 
{% include 'sitenav.njk' %}
<div class="home-bg">
</div>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
       
        <h1>ברוכה הבאה לסטודיו WORTH IT הבית החדש שלך לכושר ולאושר בתל אביב!</h1>

        <p>אני מאמינה שהמפתח להתמדה, בכל דבר ובמיוחד בספורט, זה להנות ממה שאנחנו עושים, המחויבות לעצמנו והבנה שאנחנו במרתון ולא בספרינט.</p>
        <p>אני כאן כדי לעבור איתך תהליך מדהים, לגלות בעצמך חוזקות שלא הכרת ולשבור שיאים ומחסומים.</p>
        <p>אני מבטיחה לא לוותר לך ולא לתת לעצמך לוותר לעצמך - עד שנשיג את המטרות והיעדים שלך!</p>

        <h2>למה WORTH IT?</h2>

        <p>הייחודיות של הסטודיו היא השילוב בין היחס האישי עם תוכנית אימונים מותאמת אישית לבין הקסם שנוצר באוויר באימונים הקבוצתיים. זה אולי נשמע נדוש.. אבל באמת שזר לא יבין זאת!</p>
        <p>אני מזמינה אותך להצטרף אלינו! לנסות, להתאהב, להתמכר ובאופן בלתי נמנע להתמיד ובכיף. והתוצאות לא יאחרו לבוא!</p>

        <h2>מה זאת אומרת מותאם אישי?</h2>
        <p>הכל. מותאם. אלייך! גם באימון קבוצתי.</p>
        <p>באימון הקבוצתי יש עד 6 (!) מתאמנים בלבד.</p>
        <p>כשאני בונה את האימון אני בונה אותו בהתאמה אישית לכל אחת ואחד מהמשתתפים. בהתאם למטרות והיכולות של כל אחד ובהתאם לתוכנית האימונים שאני בונה לכל אחד. (אני אלופת הסודוקו)</p>

        <h2>גם מערכת השעות מותאמת אליך!</h2>
        <p>אנחנו חיים בעולם דינמי ומשתנה - אנחנו דינמיים ומשתנים.</p>
        <p>חשוב לי שמערכת האימונים תתאים את הדינמיות הזו.</p>
    </article>

</main>
<main class="tdbc-container">
    <div class="tdbc-section">
        {# <ul class="tdbc-column-container">
			{%- for page in collections.pages -%} 
			<li class="tdbc-card">
                <div class="tdbc-card__content">
                    <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.eleventyNavigation.key }}</a>
                    <p>{{ page.data.description }}</p>
                </div>
            </li> 
			{%- endfor -%} 
		</ul> #}
    </div>
</main>