--- 
layout: base.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | הדס משלי | סטודיו ביתי לאימוני כושר ממכרים"
description: "סטודיו לכושר במרכז ת״א, אימונים אישיים ובקבוצות קטנות באווירה ממכרת.
בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
shareImage: "/img/content/hadas-worth-it-training-3.JPG"
---
<script src="{{ '/scripts/home.js' | url }}" defer></script>

<main class="page-home">
    <div class="container">
        <section class="content-section main-hero">
            <div class="rev-image-text">
                <div class="rev-grid half above">
                    <h1 class="jumbo">
                        <div class="rev-title-inner nowrap" id="home-fold-title">ברוכה הבאה לבית החדש שלך</div><br/>
                        <div class="rev-title-inner nowrap" id="home-fold-subtitle">לכושר ולאושר בתל אביב!</div>
                    </h1>

                    <div class="rev-grid-content" id="home-fold-content">
                        <h2 class="rev-title-inner title-bg blue">איזה כיף שבאת!</h2>
                        <p>אני מאמינה שהמפתח להתמדה, במיוחד בספורט, הוא שילוב של הנאה, מחויבות לעצמנו והבנה שזה תהליך. מרתון, לא ספרינט.</p>
                        <p>אני והצוות כאן כדי לעבור איתך דרך. לגלות יחד חוזקות שלא ידעת שיש בך, לשבור שיאים ומחסומים, להתחזק ולהרגיש הכי טוב בגוף שלך.</p>
                        <p>אני מבטיחה לא לוותר לך, ולא לתת לך לוותר לעצמך, עד שנשיג יחד את המטרות שלך.</p>
                    </div>
                </div>
                <div class="rev-grid half image" id="home-fold-image">
                    <img class="rev-image" src="/img/content/hadas-worth-it-studio-home.jpg" alt="Hadas Worth It Fitness Studio Happy Training"/>
                </div>
            </div>
        </section>

        <section class="content-section hero split align-right">
            <img src="/img/content/hadas-worth-it-trx-training.jpg" class="section-image" alt="Hadas Worth It with a trainee happy"/>
            <div class="content-block text-start">
                <h2 class="rev-title-inner" id="home-content-why-title">למה WORTH IT?</h2>
                <p>הייחודיות של הסטודיו היא השילוב בין: מקצועיות גבוהה, יחס אישי, תוכנית אימונים מותאמת, ואווירה שקשה להסביר במילים.</p>
                <p>זה אולי נשמע נדוש… אבל באמת שזר לא יבין 😊</p>
                <p>כאן נוצר חיבור. כאן בונות שגרה. וכאן מתמידות כי פשוט כיף לבוא.</p>
                <p>אני מזמינה אותך להצטרף אלינו. ולגלות מה קורה כשאימון הופך לחלק מהחיים.</p>
                <p>התוצאות? הן כבר יגיעו.</p>
                <div class="buttons-row">
                    <a href="/my-story/" class="btn btn-main second with-effect" data-hover="בואו להכיר אותי">
                        <div>בואי להכיר אותי</div>
                    </a>
                    <a href="/the-studio/" class="btn btn-main second with-effect" data-hover="בואו להכיר את הסטודיו">
                        <div>בואי להכיר את הסטודיו</div>
                    </a>
                </div>
            </div>
        </section>

        <section class="content-section hero split align-left">
            <div class="content-block text-end">
                <h2 class="rev-title-inner" id="home-content-tailored-title">מה זאת אומרת מותאם אישית?</h2>
                <p>הכול. מותאם. אלייך. <br>גם באימון קבוצתי.</p>
                <p>בכל אימון יש עד 5 מתאמנות בלבד, כדי שנוכל להכיר אותך באמת <br>ולהתאים לך את האימון בצורה מדויקת.</p>
                <p>כל אימון נבנה בהתאמה אישית לכל אחת מהמשתתפות, <br>ובהתאם למטרות שלך, ליכולות שלך, לקצב שלך ולדרך האישית שלך.</p>
                <p>כך שאימון קבוצתי אצלנו הוא בעצם אימון אישי.  במחיר של אימון קבוצתי.</p>
                <p>יש תהליך. ויש ליווי.</p>
                {# <a href="/schedule/" class="btn btn-main second with-effect" data-hover="להסבר על מערכת השעות">
                    <div>להסבר על מערכת השעות</div>
                </a> #}
            </div>
            <img src="/img/content/hadas-worth-it-personal-attention.jpg" class="section-image" alt="Hadas Worth It Training"/>
        </section>
    </div>
</main>