--- 
layout: base.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
title: "Worth It Studio | הדס משלי | סטודיו בוטיק לאימוני כוח במרכז ת״א"
description: "סטודיו לכושר במרכז ת״א, אימונים בקבוצות קטנות באווירה ממכרת.
בואו להכיר את הסטודיו החדש שלכם שירגיש כמו בית! נתחזק ונהנה ביחד!"
shareImage: "/img/content/hadas-worth-it-training-3.JPG"
navOverlay: true
---
<script src="{{ '/scripts/home.js' | url }}" defer></script>

<main class="page-home">
    {% include 'home-hero.njk' %}

    {% include 'marquee.njk' %}

    <section class="intro">
        <div class="container intro__inner">
            <h2 class="intro__title" data-animate>
                איזה כיף שבאת!
                {% include 'icon-swash.njk' %}
            </h2>
            <div class="intro__text" data-animate>
                <p class="intro__lead">אני מאמינה שהמפתח להתמדה, במיוחד בספורט, הוא שילוב של הנאה, מחויבות לעצמנו והבנה שזה תהליך. מרתון, לא ספרינט.</p>
                <p>אני והצוות כאן כדי לעבור איתך דרך. לגלות יחד חוזקות שלא ידעת שיש בך, לשבור שיאים ומחסומים, להתחזק ולהרגיש הכי טוב בגוף שלך.</p>
            </div>
        </div>
    </section>

    {% include 'home-manifesto.njk' %}

    <section class="feature yellow">
        <div class="container feature__inner">
            <div class="feature__media" data-animate="zoom">
                <img src="/img/content/hadas-worth-it-trx-training.jpg" class="feature__image" data-parallax alt="Hadas Worth It with a trainee happy"/>
            </div>
            <div class="feature__content" data-animate>
                <h2 class="rev-title-inner feature__title" id="home-content-why-title">למה WORTH IT?{% include 'icon-swash.njk' %}</h2>
                <p>הייחודיות של הסטודיו היא השילוב בין: מקצועיות גבוהה, יחס אישי, תוכנית אימונים מותאמת, ואווירה שקשה להסביר במילים.</p>
                <p>זה אולי נשמע נדוש… אבל באמת שזר לא יבין 😊</p>
                <p>כאן נוצר חיבור. כאן בונות שגרה. וכאן מתמידות כי פשוט כיף לבוא.</p>
                <p>אני מזמינה אותך להצטרף אלינו. ולגלות מה קורה כשאימון הופך לחלק מהחיים.</p>
                <p>התוצאות? הן כבר יגיעו.</p>
                <div class="buttons-row">
                    <a href="/my-story/" class="btn btn-main second with-effect" data-hover="בואי להכיר אותי">
                        <div>בואי להכיר אותי</div>
                    </a>
                    <a href="/the-studio/" class="btn btn-main second with-effect" data-hover="בואי להכיר את הסטודיו">
                        <div>בואי להכיר את הסטודיו</div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% include 'home-stats.njk' %}

    <section class="feature cream reverse">
        <div class="container feature__inner">
            <div class="feature__media" data-animate="zoom">
                <img src="/img/content/hadas-worth-it-personal-attention.jpg" class="feature__image" data-parallax alt="Hadas Worth It Training"/>
            </div>
            <div class="feature__content" data-animate>
                <h2 class="rev-title-inner feature__title" id="home-content-tailored-title">מה זאת אומרת מותאם אישית?{% include 'icon-swash.njk' %}</h2>
                <p>הכול. מותאם. אלייך. <br>גם באימון קבוצתי.</p>
                <p>בכל אימון יש עד 5 מתאמנות בלבד, כדי שנוכל להכיר אותך באמת <br>ולהתאים לך את האימון בצורה מדויקת.</p>
                <p>כל אימון נבנה בהתאמה אישית לכל אחת מהמשתתפות, <br>ובהתאם למטרות שלך, ליכולות שלך, לקצב שלך ולדרך האישית שלך.</p>
                <p>כך שאימון קבוצתי אצלנו הוא בעצם אימון אישי.  במחיר של אימון קבוצתי.</p>
                <p>יש תהליך. ויש ליווי.</p>
                {# <a href="/schedule/" class="btn btn-main second with-effect" data-hover="להסבר על מערכת השעות">
                    <div>להסבר על מערכת השעות</div>
                </a> #}
            </div>
        </div>
    </section>

    {% include 'home-gallery.njk' %}

    {% include 'home-steps.njk' %}
</main>
