---
layout: post.njk
lang: "he"
locale: "he-IL"
dir: "rtl"
lang_url: "/"
eleventyComputed:
    title: "{{ post.title }}"
    description: "{{ post.excerpt }}"
    shareImage: "{{ post.featured_image.data.attributes.url }}"
pagination:
    data: posts
    size: 1
    alias: post
permalink: post/{{ post.slug }}/
---