---
layout: page.njk
permalink: /en/my-story/
title: "Worth It Studio | Hadas Mishli | A Fitness Trainer with a Mission"
description: "My mission is to help you fall in love with yourself, discover your strength, and have an incredible time along the way. Come discover your new studio that feels like home!"
shareImage: "/img/content/hadas-mishli-weisflener.jpg"
translationKey: "myStory"
eleventyNavigation:
    order: 1
    key: "My Story"
---
<script src="{{ '/scripts/mystory.js' | url }}" defer></script>

<div class="container">
    <section class="content-section hero split align-left">
        <div class="content-block text-end">
            <h1 class="rev-title-inner" id="mystory-content-title-1">My Story</h1>
            <h2 class="rev-title-inner -title-bg blue">Hi, nice to meet you :) I'm Hadas Mishli Weisflener, a fitness trainer who believes in a healthy mind in a healthy body.</h2>
            <p>I believe in training out of self-love, not out of criticism or self-hate. <br>
            But rather from listening, connection, and respect for the body.</p>
            <p>My mission is to strengthen, empower, tone, and help women feel amazing about themselves<br>
             inside and out.</p>
            <p>I'm here to give you that push when you need it, to remind you to enjoy the journey, and to prove that there's nothing we can't do. I feel lucky to have the platform and the privilege to pass these values forward.</p>
            <p>Because we are WORTH IT.</p>
        </div>
        <img src="/img/content/hadas-mishli-weisflener.jpg" class="section-image" alt="Hadas Mishli Weisflener fitness trainer in Tel Aviv"/>
    </section>

    <section class="content-section hero split align-right">
        <div>
            <img src="/img/content/hadas-worth-it-inspiration.jpg" class="section-image" alt="Hadas Mishli Weisflener fitness trainer"/>
            <div class="image-credit">Photo: Uri Taub</div>
        </div>
        <div class="content-block text-start">
            <h2 class="rev-title-inner" id="mystory-content-title-2">Truth is... fitness wasn't always in my blood</h2>
            <p>I even remember trying to skip the 2km run in high school 😅</p>
            <p>But in 2010, I went through a transformation that changed my life. <br>
            From that moment on, fitness became an inseparable part of who I am.</p>
            <p>Since then, I haven't stopped learning, growing, attending courses and certifications, and constantly working to be the most professional, empathetic, and best at what I do.</p>
        </div>
    </section>

    <section class="content-section hero split align-left">
        <div class="content-block text-end">
            <h2 class="rev-title-inner" id="mystory-content-title-3">Where it all began</h2>
            <p>I grew up in the early 90s, surrounded by beauty ideals and external expectations<br>
             that no matter how hard I tried, I always felt like I couldn't measure up.</p>
            <p>I grew up disconnected from my body, lacking self-respect, and at some point even developed an eating disorder, driven by a need to feel in control.</p>
            <p>Luckily, my mom (bless her 💛) connected me with Nadav Meirson, an amazing fitness trainer who became a meaningful figure in my journey.</p>
            <p>Full disclosure: at first, I only cared about how I looked, not about health.</p>
            <p>But through him, I learned to train from a different place. A place of self-love.</p>
            <p>That's when I truly understood: "my body is my temple."</p>
            <p>That working on the mind is just as important as working on the body. That they go hand in hand, strengthening and empowering each other.</p>
        </div>
        <img src="/img/content//hadas-worth-it-tehina.jpg" class="section-image" alt="Hadas Mishli Weisflener in the studio"/>
    </section>

    <section class="content-section hero split align-right">
        <img src="/img/content/hadas-worth-it-studio-3.jpg" class="section-image" alt="Hadas Mishli Weisflener in the studio"/>
        <div class="content-block text-start">
            <h2 class="rev-title-inner text-start" id="mystory-content-title-4">And today?</h2>
            <p>Today, my mission is to pass it forward.<br>
             To help women discover the connection to their bodies, to feel acceptance and self-fulfillment, and the inner strength that doesn't depend on a number on a scale. (All while building a firm, lifted booty 😉)</p>
            <p>In the studio, through personal coaching, and in every journey I guide.</p>
            <p>Because self-love is the foundation of a truly healthy lifestyle.</p>
        </div>

    </section>
</div>
