--- 
layout: base.njk
lang_url: "/{{ lang }}/"
title: "WORTH IT | הדס משלי | מאמנת כושר עם שליחות "
description: ""
translationKey: "myStory"
eleventyNavigation:
    order: 2
    key: "My Story"
--- 

{% include 'sitenav.njk' %}
<header class="tdbc-hero">
    <div class="tdbc-container">
       <h1>My Story</h1>
    </div>
</header>
<main class="tdbc-container">
    <div class="tdbc-section">

    </div>
</main>