--- 
layout: base.njk
lang_url: "/{{ lang }}/"
title: "WORTH IT | ליווי אונליין | סטודיו ביתי לאימוני כושר "
description: "הצטרפו לתוכנית הליווי מרחוק של הסטודיו. בה תקבלו תוכנית אימונים מלאה, מאתגרת ומותאמת אישית, אותה ניתן לבצע בכל מקום ובכל זמן!"
translationKey: "online"
eleventyNavigation:
    order: 6
    key: "Online"
--- 

{% include 'sitenav.njk' %}
<header class="tdbc-hero">
    <div class="tdbc-container">
       <h1>Online</h1>
    </div>
</header>
<main class="tdbc-container">
    <div class="tdbc-section">

    </div>
</main>