---
layout: page.njk
permalink: /en/online-plan/
title: "Worth It Studio | Online Coaching | Boutique Home Fitness Studio"
description: "Join our remote coaching program and get a full, challenging, and personalized training plan that you can do anywhere, anytime!"
translationKey: "online"
shareImage: "/img/worth-it-logo-square-updated.svg"
eleventyNavigation:
    order: 5
    key: "Online Coaching"
---
<script src="{{ '/scripts/online.js' | url }}" defer></script>

<main class="container">
    <section class="content-section hero single">
        <div class="content-block single">
            <h1 class="rev-title-inner text-start" id="online-main-title">Online Coaching Program</h1>
            <p>In the online coaching program, I build you a complete, challenging, and personalized training plan that you can do anywhere, anytime that works for you! Based entirely on your schedule.</p>
            <p>The plan is built and tailored to the number of days you can train per week and the time you have for each session. <br>
            For example: a 3-day-per-week plan with 2 sessions of 40-60 minutes and one 30-minute session.</p>
            <p>In every plan, each exercise includes a link to my YouTube channel with demonstration videos and detailed explanations on proper form &mdash; these will always be available to you.<br>
            With them, we'll work on technique and go over the important cues for each exercise.</p>
        </div>

        <div class="content-block single">
            <h2 class="rev-title-inner text-start" id="online-sub-1">Documenting Your Workouts</h2>
            <p>So I can track your progress in the best possible way, all you need to do is film yourself performing a few reps of each exercise.<br>
            Upload the clips to a dedicated shared folder I'll set up for us.</p>
            <p>After reviewing the footage, I'll write notes, comments, and cues for each exercise. This way we'll improve technique, progress from session to session, and build strength and confidence.</p>
        </div>

        <div class="content-block single">
            <h2 class="rev-title-inner text-start" id="online-sub-2">What's Included</h2>
            <p>The coaching may be remote, but it's no less personal!</p>
            <p>Throughout the week, I'll be with you, keeping track of your workouts and reviewing your exercise videos. We'll have a weekly check-in call, by phone or Zoom, to go over how the week went.</p>
            <p>It's important to me to maintain thorough, ongoing follow-up. To hear your feedback, adjust and fine-tune the difficulty level, and prepare you for a new week of training.</p>
            <p>I promise it'll be fun, challenging, toning, and empowering! 💛💪💛💪</p>
        </div>
    </section>
</main>
