--- 
layout: base.njk
lang_url: "/{{ lang }}/"
title: "WORTH IT | תוכניות | סטודיו ביתי לאימוני כושר ממכרים"
description: ""
translationKey: "plans"
eleventyNavigation:
    order: 3
    key: "Plans"
--- 

{% include 'sitenav.njk' %}
<header class="tdbc-hero">
    <div class="tdbc-container">
       <h1>מחירון</h1>
    </div>
</header>
<main class="tdbc-container">
    <div class="tdbc-section">

    </div>
</main>