---
layout: page.njk
permalink: /en/schedule/
title: "Worth It Studio | Schedule | Boutique Home Fitness Studio"
description: "A dynamic schedule tailored to fit yours! Come discover your new studio that feels like home! Let's get stronger and have fun together!"
translationKey: "schedule"
shareImage: "/img/worth-it-logo-square-updated.svg"
eleventyNavigation:
    order: 3
    key: "Schedule"
---
<script src="{{ '/scripts/schedule.js' | url }}" defer></script>

<main class="container">
    <section class="content-section hero split align-left">
        <div class="content-block text-end">
            <h1 class="rev-title-inner text-start" id="schedule-main-title">Our Schedule</h1>
            <p>At Worth It Studio, everything is based on personalization.<br>
            That's why even the training schedule is built to fit you!</p>
            <p>Unlike many studios in the city, here you don't need to "chase" a spot in a session or log in at a specific time hoping you won't end up on a waiting list.</p>
            <p>After a trial session, where you get to know us and we get to know you, and once you feel this is the right place for you, we set fixed days and times for your sessions together.</p>
            <p>These are your days. Your hours. Your spot in the studio.</p>
            <p>No one will "take" them from you.</p>
            <p>Of course, life is dynamic, and sometimes you need to shift, change, or be flexible. We'll always find a solution based on availability.</p>
            <p>But what truly makes the difference and helps you stay consistent and see results is the regularity.</p>
            <p>When training becomes a fixed part of your schedule, like an appointment with yourself, it becomes a part of your life.</p>
            <p>And that's exactly what we build here.</p>
        </div>
        <img src="/img/content/worth-it-strong-women.jpg" class="section-image" alt="">
    </section>

    <section class="content-section hero single">
        <div class="content-block">
            <h2 class="rev-title-inner" id="schedule-sub-1">Hours of Operation</h2>
            <p>Sunday through Thursday:</p>
            <ul>
                <li>Morning sessions: 07:15 | 08:15 | 09:15</li>
                <li>Evening sessions: 18:30 | 19:30</li>
                <li><strong>Fridays</strong>: Pilates sessions in the morning</li>
            </ul>
        </div>
    </section>
</main>
