--- 
layout: base.njk
lang_url: "/{{ lang }}/"
title: "WORTH IT | סטודיו ביתי לאימוני כושר ממכרים"
description: ""
translationKey: "theStudio"
eleventyNavigation:
    order: 1
    key: "The Studio"
--- 

{% include 'sitenav.njk' %}
<header class="tdbc-hero">
    <div class="tdbc-container">
       <h1>The Studio</h1>
    </div>
</header>
<main class="tdbc-container">
    <div class="tdbc-section">

    </div>
</main>