---
layout: page.njk
permalink: /en/the-studio/
title: "Worth It Studio | Boutique Studio for Addictive Strength Training In Tel Aviv"
description: "Our workouts combine strength training, functional training, and core work, suitable for all levels and goals. Come discover your new studio that feels like home!"
shareImage: "/img/content/home-bg.jpeg"
translationKey: "theStudio"
eleventyNavigation:
    order: 2
    key: "The Studio"
---
<script src="{{ '/scripts/the-studio.js' | url }}" defer></script>

<main class="container">
    <section class="content-section hero single">
        <div class="content-block single">
            <h1 class="rev-title-inner text-start" id="the-studio-main-title">The Studio</h1>
            <p>My approach to fitness and life is holistic. I believe that the mental and physical aspects go hand in hand, and to achieve real, lasting results, we need to connect both.</p>
            <p>That's why training at the studio combines fitness with personal guidance. Beyond the workout itself, we also work on nutrition, daily habits that benefit you, all in a warm and welcoming atmosphere.</p>
            <p>The goal isn't to change your life, but to upgrade your existing lifestyle in a natural, comfortable, and sustainable way.</p>
            <img src="/img/content/hadas-worth-it-studio.jpg" alt="The Studio of Hadas Worth It Fitness">

        </div>

        <div class="content-block">
            <h2 class="rev-title-inner text-start" id="the-studio-sub-1">So what awaits you here?</h2>
            <p>Our workouts combine strength training, functional training, and core work, suitable for every level and every goal.</p>
            <p>We work with a wide range of equipment: <br>
            Kettlebells, dumbbells, plates, barbells, TRX straps, resistance bands, and more. <br>
            In short: never a dull moment 😉
            </p>
            <p>Group sessions include a maximum of 5 participants, to allow genuine personal attention, precise adjustments, and professional guidance throughout.</p>
        </div>

        <div class="content-block">
            <h2 class="rev-title-inner text-start" id="the-studio-sub-2">My Method</h2>
            <p>Sessions are delivered using a unique and fun method I developed, based on clear and varied formats, such as: (sorry in advance for the name-dropping 😉) <br>
            Station workouts, Ups & Downs, set-based training, pyramids, and more.
            </p>
            <p>Every session has a clear, consistent structure, but the exercises, intensity, and style change constantly to challenge, refresh, and progress.</p>
            <p>And if all these names sound like gibberish right now — don't worry. You'll get into it quickly and fall in love along the way 💛</p>
        </div>
    </section>
</main>
